@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


 
/*1*/

* {
  font-family: "Exo 2", sans-serif;
}

body {
    padding: 10px 20px;
    background: url(https://i1.beon.fun/29/35/3529/5/1631505/fon-derevya.png) no-repeat fixed, #0a0a0a;
    background-size: cover;
    line-height: 1.6;
}

div#footer, .footer__infolinks, #page__admincontact, div#page__rendertime, .text-center {
font-size:10px;

}
.bottombg.p-1 {
    border-top: 1px solid #1a1a1a;
}

#page__admincontact.text-center {
    text-align: left !important;
    margin-left: 4px;
}

a, div  {
color:#959595;
text-decoration: none!important;
transition: 0.2s;
}
 
a:hover, span[data-target="#deleteconfirmmodal"]:hover {
    text-decoration: unset!important;
    color:#fff;
transition: 0.2s;
}

[href="mailto:a@beon.fun"] {
color:#fff;
}

::selection {
    color: #000;
    background: #939393;
}


.post-opt [style="font-size: 1rem;"] {
    font-size: 13px!important;
}
  
.fa-retweet::before, .fa-bookmark::before, .fa-exclamation-triangle::before, .fa-quote-left::before, span[data-target="#deleteconfirmmodal"]  {
    color: #959595;
   padding: 3px;
   transition: .5s;
}
.fa-heart:hover:before, .fa-retweet:hover:before, .fa-bookmark:hover:before, .fa-exclamation-triangle:hover:before, .fa-quote-left:hover:before  {
    color: #fff;
   cursor:pointer;
   transition: .2s;
}

 [class="post-opt col-12 col-md-6"] span, .post-opt a, [onclick="deleteComment(this)"]  {
    color: #959595;
   transition: .3s;
}

 [class="post-opt col-12 col-md-6"] span:hover,  .post-opt a:hover, [onclick="deleteComment(this)"]:hover {
    color: #fff;
   transition: .3s;
}
 
 
 [onclick="return showSpoiler(this)"], a.user{
color:#fff!important;
    transition: .3s;
}

[onclick="return showSpoiler(this)"]:hover, a.user:hover  {
   color:#959595!important;
    transition: .3s;
}

/*-*/



/*2*/
 
.pc-menu a {
    color: #959595 !important;
    transition: 0.2s;
}

.pc-menu a:hover {
transition: 0s;
color:#fff!important;
}

a.navbar-brand {
    color: #959595 !important;
    font-size: 22px;
    transition: 0.2s;
}
a.navbar-brand:hover {
transition: 0s;
color:#fff!important;
}
.m2 {
    color: #ffffff;
}

.bg-white {
    background-color: #020202;
    border: 1px solid #1a1a1a;
}
/*-*/




/*3*/

.left-menu {
    width: 21%;
    padding: 0px 1% 2% 1%;
    overflow-x: hidden;
}
.left-menu h3 {
    color: white;
    background: transparent !important;
    margin: 5px 0px;
    padding: 4px 4px;
    text-transform: lowercase;
    font-size: 15px;
    border-bottom: 1px solid #1a1a1a;
}
div.left-menu {
    margin-right: 20px;
    margin-bottom: auto;
    border: 1px solid #1a1a1a !important;
    background: #040404;
}
[class="left-menu__user-notification left-menu__unread-notifications"] a {
padding: 0 6px;
}

/*-*/


 /*4*/

.post-content.blog_total_counter h2 {
    text-align: left;
}
.content {
    width: 78%;
}


h2 {
    font-size: 12px;
    text-align: center;
}

.post-content, .comment-content {
    /* margin: 10px 10px 20px; */
    margin: 0px 0px 25px !important;
    padding: 15px 25px;
    background: #040404;
    border: 1px solid #1a1a1a;
    margin-bottom: 25px;
    position: relative;
}
.quotation {
    border-left: 3px solid #ffffff;
    background: #0a0a0a;
font-size: 12px;
}

 .user:before {
display:none;
}
#usermenu a {
    font-size: 13px;
}
#usermenu {
position:releative;
    border-radius: 0;
    background: #040404;
    border: 1px solid #1a1a1a;
   font-weight: bold;
  z-index:1;
}

.post-title-date {
    font-size: 10px;
    color: #959595;
    padding-right: 6px;
}

span.post-title-date+span {
    font-size: 12px;
    color: #1e1e1e;
}
.post-title, h1 {
    font-size: 18px;
    color: #fff;
}

.post-title:hover  {
    color:#959595;
transition: 0.2s;
}

.post-title-user {
    padding-left: 4px;
    font-size: 13px;
}
 
/*-*/




 .modal-body {
    color: #959595;
    position: relative;
}

.modal-content {
    background: #040404;
    border: 2px solid #1a1a1a;
    font-weight: bold;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
.user_footer, .div_user_img {
    border:2px solid #1a1a1a;
} 


.emj-dropdown-content {
    background: #0c0c0c;
    border: 1px solid #1a1a1a;
}

select, input, .btn-outline-primary, .textareabg input[type="submit"], .textareabg input[type="button"], .left-menu-text input[type="submit"], button.btn.btn-secondary, button.btn.btn-primary,  input.w-100.input-tags, input.w-100.input-mood,
input.w-100.input-music,
input.w-100.input-want {
    background: #0c0c0c;
    color: #959595;
 border: 1px solid #1a1a1a;
    font-size: 13px;
    cursor: pointer;
    transition: 0.4s;
}

 select:hover,
input:hover,
.btn-outline-primary:hover,
.textareabg input[type="submit"]:hover,
.textareabg input[type="button"]:hover,
.left-menu-text input[type="submit"]:hover, 
button.btn.btn-secondary:hover, 
button.btn.btn-primary:hover,
.btn-outline-primary:hover,
input.w-100.input-tags:hover, input.w-100.input-mood:hover,
input.w-100.input-music:hover,
input.w-100.input-want:hover  {
    color: #fff;
    transition: 0.4s;
}


 .alert-success {
    font-size: 15px;
    color: #959595;
 border: 1px solid #1a1a1a;
    background: #0c0c0c;
}


.textareabg {
    background: #040404;
    border: 1px solid #1a1a1a;
    margin: 10px 0px 20px!important;
}

textarea {
    color: #959595;
    background: #0c0c0c;
    border: 1px solid #1a1a1a;
}

.avatars-fullscreen-link-wrapper {
    background: #040404;
}
.avatar-select-list {
    background: transparent;
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
    margin: 2px;
 border: 1px solid #121212;
    transition: 0.3s;
}
 
.avatar-select-label-selected {
  border: 1px solid #fff;
    transition: 0.3s;
}

.tag_bar > span {
    display: inline-block;
    min-width: 15px;
 
}

.tag_bar > span:hover {
    color:#fff;
  transition: 0.3s;
}



div#newpostform br,div#newpostform br+br+p {
    display: none;
}
 
span.emj-dropdown {
    padding: 0px;
}
form.messageform p {
    margin-bottom: 0px;
} 

.container-fluid {
    padding-left: 0px;
}

.container-fluid .row {
    margin-left: -15px!important;
}

.container-fluid.mt-5 {
    margin-top: 0px !important;
    padding-left: 0px!important;
}


[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover{ 
 color: #fff!important;
  transition: 0.3s;
}

.datebg {
    margin: 10px -3px 2px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 12px;
}

.crumbs {
    padding: 0;
}

::-webkit-scrollbar {
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    border: 7px solid #040404;
    background-color: #444444;
    min-height: 24px;
    min-width: 24px;
}
::-webkit-scrollbar-track {
    border: 7px solid #040404;
    background-color: #080808;
}

 /*плеер*/


div#beon-fnplayer {
    padding: 5px;
    background: transparent;
}

#fnplayer-slider > span { 
font-size:0px!important;  
} 

#fnplayer-slider {
    height: 4px;
    background-color: #2b2b2b !important;
}

#fnplayer-slider-inner {
    height: 4px;
    width: 0%;
    background-color: #00000080;
    border-right: 2px solid #6e6e6e;
}

#fnplayer-stop {
    background: #2b2b2b;
}

#fnplayer-volume {
    height: 4px;
    background-color: #00000080;
}

#fnplayer-volume-inner {
    height: 4px;
    width: 100%;
    background-color: #2b2b2b !important;
   border: none;
}

#fnplayer-volume-mask {
border:none!important;
}

 
#fnplayer-play {
    border-color: transparent transparent transparent #2b2b2b !important;
}

/*-----------*/

@media  (max-width: 840px), (max-width: 700px) {


    .menu__box {
        border: 2px solid #151515;
        background: #040404;
        margin-top: 65px !important;
        width: 70% !important;
        height: 70% !important;
    }

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #939393;
}

    .menu__item {
        color: #959595;
        font-size: 15px;
    }


body {
    padding: 0!important;
}
 
.left-menu, .content {
    width: 100%!important;
}

    .left-menu > div.mobile_open_menu > h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }


span.comments_count a {
    font-size: 14px!important;
margin-right: -20px!important;
}

.post-content, .comment-content {
    padding: 15px 8px!important;
}

}
