@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@font-face { font-family: "19192"; src: url('https://solarinoo.github.io/19192.otf'); }

@font-face {
    font-family: Linearicons-Free;
    src: url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.eot);
    src: url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.eot?#iefix) format('embedded-opentype'),url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.woff2) format('woff2'),url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.ttf) format('truetype'),url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.woff) format('woff'),url(https://cdn.linearicons.com/free/1.0.0/Linearicons-Free.svg#Linearicons-Free) format('svg');
    font-weight: 400;
    font-style: normal
}
 



/*1*/


* {
 font-family: "Play", sans-serif;
}
.crumbs span, .crumbs a {
    font-family: "19192";
    border-bottom: 4px dotted #6d8071;
}

div#footer, .footer__infolinks, #page__admincontact, div#page__rendertime, .text-center {
font-size:0;
}

body.bodybg {
     background:url(https://i.postimg.cc/W33ws0p1/1.png) no-repeat fixed;
    background-size: cover;
}
div#app {
    padding: 0;
}
a, div, span[data-target="#deleteconfirmmodal"]  {
    text-decoration: unset!important;
   color:#0c1c09;
   transition: .3s;
} 

a:hover, span[data-target="#deleteconfirmmodal"]:hover {
    transition: .0s;
    text-decoration: unset;
    color:#678574;

}

 [onclick="return showSpoiler(this)"] {
color:#678574;
    transition: .3s;
}

[onclick="return showSpoiler(this)"]:hover {
   color:#0c1c09;
    transition: .3s;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: flex-end;
}
.row.w-100 {
    position: sticky;
    top: 100%;
    padding-top: 10px;
}
.comment-text+div {
    position: sticky;
    top: 100%;
    text-align: end;
    padding: 3px;
}
::selection {
    color: #ffffff;
    background: #182514;
}

.fa-retweet::before, .fa-bookmark::before, .fa-exclamation-triangle::before, .fa-quote-left::before, span[data-target="#deleteconfirmmodal"]  {
    color: #0c1c09;
   padding: 3px;
   transition: .5s;
}
.fa-heart:hover:before, .fa-retweet:hover:before, .fa-bookmark:hover:before, .fa-exclamation-triangle:hover:before, .fa-quote-left:hover:before  {
    color: #678574;
   cursor:pointer;
   transition: .2s;
}

 [class="post-opt col-12 col-md-6"] span, .post-opt a, [onclick="deleteComment(this)"]  {
    color: #0c1c09;
   transition: .3s;
}

 [class="post-opt col-12 col-md-6"] span:hover,  .post-opt a:hover, [onclick="deleteComment(this)"]:hover {
    color: #678574;
   transition: .3s;
}


.liked .fas, .reposted .fas, .bookmarked .fas {
    color: #3f6c36!important;
}
 .post-opt [style="font-size: 1rem;"] {
    font-size: 13px!important;
}
  
 span.comments_count span {
font-size:0;
}

span.comments_count span:before {
    content: "\f27a";
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    padding-left: 3px;
}

.comments_count a {
    font-size: 12px!important;
    padding-left: 5px;
    font-weight: 900;
}

.post__tags-list {
    padding-bottom: 6px;
}
.post__mood, .post__musicplay, .post__wish, .post__tags-list {
    color: #90978f!important;
}
.tag:before {
    content: '\e82f';
    font-size: 12px;
    color: #253821;
  font-family: Linearicons-Free;
}

a.tag {
    font-size: 11px;
    padding-right: 5px;
}
 .post__tags-list  {
font-size:0;
}
  .post__tags-list a {
    font-size: 10px;
} 
.flag, [src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/user.png"],
[src="/i/offline.png"],
 [src="/i/online.png"],
.user:before,
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
[action="/search"], .post-title-date+a  {
display:none;
}

span.post-title-date+span   {
font-size:0px;
} 
div#footer:before {
    content: 'Вопросы/помощь c дизайном - solarinoo.beon.fun/';
    display: block;
    font-size: 10px;
    text-align: center;
    margin-top: 2px;
    color: #0c1c095e;
}
/*----------*/

 

/*2*/

.left-menu__unread-message img {
    margin-top: -8px;
    width: 80px;
    height: 80px;
    object-fit: cover;
border: 1px solid #1b2a18;
    background: #cad1ca ;
    padding: 6px;
}

.left-menu__user-notification.left-menu__unread-message img+p {
    overflow: auto;
    line-height: normal;
    max-height: 50px;
    margin-top: 8px;
} 
.text-center img {
    border:2px solid #1b2a18 ;
}
.readertime {
    color: #677d6b;
}
p.left-menu-text {
margin-bottom: 0;
}

.blog__about.mb-3 {
margin-bottom: 0!important;
}
.left-menu h3 {
    display: block;
}


.left-menu::-webkit-scrollbar {
width: 0px;
background-color: transparent;
}


h3.left-menu-text {
    border: 1px solid #1a1624;
    color: #1b2a18 !important;
background: linear-gradient(90deg, #c7ceca, #afbdb1, #c7ceca)!important;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center !important;
    text-transform: uppercase;
    font-family: "19192";
}
.left-menu > div {
border-left:2px solid #20301d;
border-right:2px solid #20301d;
    background: url(https://i.postimg.cc/4dHkYj8d/grunge-wall-texture.png) fixed;
}

div.left-menu {
    border: none;
   border-bottom: 1px solid #2d3728;
    margin-right: auto;
    margin-bottom: auto;
}
div.left-menu:before {
    position: sticky;
    top: 0;
    content: '- М Е Н Ю -';
    display: block;
    height: 32px;
    font-size: 32px;
    color: #cad1ca;
    line-height: 1;
    background: url(https://i.postimg.cc/KzzDt8PV/image.png) no-repeat center;
    font-family: "19192";
    cursor: help;
    z-index: 5;
}
.left-menu {
   max-height: 32px;
 transition: 0.5s cubic-bezier(0.57, 0.06, 0.29, 0.97);
transition-delay: 1s;
}

.left-menu:hover {
    max-height: 450px;
 transition: 0.5s cubic-bezier(0.57, 0.06, 0.29, 0.97);
transition-delay: 0.2s;
}


div.left-menu {
    font-size: 14px;
    text-align: center;
    line-height: normal;
}
.left-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    max-width: inherit;
    width: 100%;
    z-index: 5;
    padding: 0px 1% 2% 1%;
    overflow-x: hidden;
}

.blog__about [href="/design/disable"]:after {
    content: "отключить дизайн";
    position: absolute;
    top: 7px;
    font-size: 10px;
    right: 16px;
    padding: 0 5px;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #232e1e96;
    background: #e9e9e96e;
    opacity: 0.7;
    z-index: 5;
    transition: 0.3s;
}
 
.blog__about [href="/design/disable"]:hover:after {
    opacity: 1;
    transition: 0.3s;
}

/*--------*/


  
/*3*/

main.py-4 {
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
main.py-4:before {
    content: '';
    width: 151px;
    height: 100%;
    background: url(https://i.postimg.cc/3R0yqRQS/3.png) repeat-y top left;
    position: absolute;
    top: 0px;
    left: -142px;
    z-index: 2;
    filter: drop-shadow(0px 4px 6px black);
}
main.py-4:after {
    content: '';
    width: 151px;
    height:100%;
    background: url(https://i.postimg.cc/brF8SHHz/532.png) repeat-y top right;
    position: absolute;
    top: 0px;
    right: -130px;
    z-index: 1;
    filter: drop-shadow(0px 4px 6px black);
}
.post-content {
    border-image-slice: 115 200 125 166 fill;
    border-image-width: 70px 119px 80px 100px;
  padding: 30px;
    border-image-repeat: round round;
    border-image-source: url(https://i.postimg.cc/nhgTZ9J3/222.png);
    border-style: solid;
    margin-bottom: 35px !important;
    margin-top: 65px !important;
    margin: 35px 10px 20px;
    background: linear-gradient(90deg, rgb(199 206 202 / 51%), rgb(175 189 177 / 43%), rgb(199 206 202 / 34%)); 
}
.comment-content {
    border-image-slice: 115 200 125 166 fill;
    border-image-width: 70px 119px 80px 100px;
  padding: 30px;
    border-image-repeat: round round;
    border-image-source: url(https://i.postimg.cc/nhgTZ9J3/222.png);
    border-style: solid;
    margin-bottom: 35px !important;
    margin: 35px 10px 20px;
    background: linear-gradient(90deg, rgb(199 206 202 / 51%), rgb(175 189 177 / 43%), rgb(199 206 202 / 34%)); 
}
main.py-4 {
    margin: auto;
    padding-top: 0!important;
    padding-bottom: 0!important;
    max-width: 1000px;
}
.content {
    position: relative;
    width: 100%;
    margin: auto;
    background: url(https://i.postimg.cc/4dHkYj8d/grunge-wall-texture.png) fixed;
    border: 1px solid #10110f;
}

.py-4 {
    display: flex;
    flex-direction: column;
 
}

 

.post-content.blog_total_counter {
    font-size: 0px;
    height: 400px;
    content: '';
    background: url(https://i.postimg.cc/ZR4pnhYP/FEyp1-Xda-UAU8-Kyn.jpg) no-repeat center;
    background-size: cover;
    border-radius: 5px;
    border: 2px solid #496048;
    box-shadow: inset 0 0 8px 0px #00000091;
    margin-top: 70px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
margin-bottom: -20px !important;
}
.post-content.blog_total_counter h2 {
    font-size: 0px;
    border-bottom: none;
}
.user-drop-menu {
    margin-left: 0;
}
.post-title-date {
    font-size: 0.7rem;
    color: #151912;
    font-weight: bold;
    letter-spacing: 2px;
}
.container-fluid.post-content.p-3 {
    margin-top: 40px;
}
.post-title-user {
    margin-left: 145px;
    font-family: "19192";
    color: #0c1c09 !important;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}

.post-title, h1 {
    font-weight: 100;
    display: block;
    width: fit-content;
    font-size: 40px;
    padding-left: 10px;
font-family: "19192";
}
 
.post-row, .comment-row {
    display: flex;
}

 .post-text, .comment-text, .comment-base {
    flex-grow: 1;
    padding: 10px;
}

.post-content.post-page {
margin-top:40px;
}
.comment-content:last-child {
        opacity: 0;
        animation: comment 0.6s ease-out forwards;
    }

@keyframes comment {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.sign {
    color: #465c45;
}
a.user {
color:#2b5f2f;
}
.post-avatar {
    margin-top: -28px;
    margin-left: 13px !important;
    padding: 10px;
    padding-bottom: 0;
    display: table;
    width: 1px;
    min-width: 30px;
    border: 1px solid #465c45;
}


 
#usermenu {
    border-image-slice: 115 200 125 166 fill;
    border-image-width: 70px 119px 80px 100px;
    padding: 30px;
    border-image-repeat: round round;
    border-image-source: url(https://i.postimg.cc/nhgTZ9J3/222.png);
    border-style: solid;
    border-radius: 0px;
    background: linear-gradient(90deg, rgb(199 206 202), rgb(175 189 177), rgb(199 206 202));
    box-shadow: 0 0 5px 1px #0000008c;
}

h2, .comment-box__message-partial.comment-content {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    color: #4a6149;
    border-bottom: 1px solid #4a6149;
}

.small-text { 
color: #d3d9d4;
   text-align: right;
    position: relative;
}

.small-text+div { 
    margin-left: auto !important;
    flex-direction: column; 
    align-items: flex-end;
}
.quotation {
    border-left: 3px solid #0e100d;
    color: #d3d9d4;
    padding-left: 5px;
    margin-left: 7px;
    margin-bottom: 0;
    background: #314234a3;
    padding-top: 0.3rem;
}

 .quotation:before {
  content:'\201C';
font-size:25px;
padding-right:5px;
color: #000;
}
.post-content, .comment-content {
    min-height: auto;
 
}
/*--------*/




 /*4*/


.ml-auto {
    margin-left: unset !important;
    margin-right: 470px;
}

 
.bg-white {
    background-color: transparent;
}

.m2 {
    font-size: 0;
}
.navbar-brand {
    font-size: 50px;
    font-weight: 100;
    color: #0c1c09 !important;
    font-family: "19192"!important;
}

 .navbar-brand {
    position: absolute;
    right: 25px;
    font-size: 50px;
    font-weight: 100;
    color: #0c1c09 !important;
    font-family: "19192" !important;
}
 .menu__item {
    color: #0c1c09;
    padding: 4px 14px;
    transition: 2s;
}
.menu__item:hover {
    background-color: transparent;
 color: #678574;
 transition: 0s;   
text-decoration: none !important;
}
.menu__box {
    right: 0;
    left: 400px;
    background: #cad1cb;
    max-height: 0px;
    top: 0px;
    width: calc(100% - 775px);
    display: flex;
    flex-wrap: wrap;
padding: 5px 18px;
    border-image-slice: 115 200 125 166 fill;
    border-image-width: 70px 119px 80px 100px;
    border-image-repeat: round round;
    border-image-source: url(https://i.postimg.cc/nhgTZ9J3/222.png);
    border-style: solid;
    background:#c7ceca;
    opacity: 0;
    overflow: auto;
}
#menu__toggle:checked ~ .menu__box {
    max-height: 130px;
    opacity: 1;
z-index: 10;
}
.hamburger-menu {
    display: block;
    position: absolute;
    right: 220px;
    top: 30px;
    background: #0c1c09;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 10px 0px #00000080;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 17px;
    height: 30px;
    cursor: pointer;
    margin-left: 6px;
    z-index: 2;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #cad1cb;
    width: 18px;
}
 
 .pc-menu {
    display: none;
}

 
.shadow-sm {
    box-shadow: none !important;
}
/*------------*/


 
.py-4 + .crumbs  {
font-size:0;
}

div.crumbs {
    text-align: center;
    font-size: 44px;
    margin-top: 10px;
    color: #0c1c09;
    margin-top: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "19192";
 
}
.datebg {
    right: 0;
    text-align: end;
    margin: 55px 15px -65px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 10px;
    opacity: 0.3;
}

 .modal-body {
    color: #a35667;
    position: relative;
}

.modal-content {
padding: 0px 10px 10px 10px;
border-image-slice: 115 200 125 166 fill;
    border-image-width: 70px 119px 80px 100px;
    border-image-repeat: round round;
    border-image-source: url(https://i.postimg.cc/nhgTZ9J3/222.png);
    border-style: solid;
    background: #c7ceca;
    font-weight: bold;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
.user_footer, .div_user_img {
    background: #c7ceca;
    border: 2px solid #2b5f2f;
}

.avatars-fullscreen-link-wrapper {
    background: #cad1cb;
    z-index: 2;
}
 #avatars-fullscreen-modal .modal-content {
    max-height: 90vh;
    width: 65%;
    margin: auto;
}

div#newpostform br,div#newpostform br+br+p {
    display: none;
}
 
span.emj-dropdown {
    padding: 0px;
}
form.messageform p {
    margin-bottom: 0px;
} 

.container-fluid {
    padding-left: 0px;
}

.container-fluid .row {
    margin-left: -15px!important;
}

.container-fluid.mt-5 {
    margin-top: 0px !important;
    padding-left: 0px!important;
}
 
.emj-dropdown {
    padding: 0px;
}

.emj-dropdown-content {
    border-image-slice: 115 200 125 166 fill;
    border-image-width: 70px 119px 80px 100px;
    padding: 10px;
    border-image-repeat: round round;
    border-image-source: url(https://i.postimg.cc/nhgTZ9J3/222.png);
    border-style: solid;
    border-radius: 0px;
    background: linear-gradient(90deg, rgb(199 206 202), rgb(175 189 177), rgb(199 206 202));
z-index:10;
}

.tag_bar {
    margin-top: 3px;
    margin-bottom: 3px;
}

.tag_bar > span {
    display: inline-block;
    min-width: 15px;
 
}

.tag_bar > span:hover {
    color:#546957;
  transition: 0.3s;
}

  input, select, .btn-outline-primary, .textareabg input[type="submit"], .textareabg input[type="button"], button.btn.btn-secondary, button.btn.btn-primary, input.w-100.input-tags, input.w-100.input-mood, input.w-100.input-music, input.w-100.input-want {
    background: #d9dcd9;
    color: #0c1c09;
    border: 1px solid #283120;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

input:hover, select:hover,
.btn-outline-primary:hover,
.textareabg input[type="submit"]:hover,
.textareabg input[type="button"]:hover,
button.btn.btn-secondary:hover, 
button.btn.btn-primary:hover,
input.w-100.input-tags:hover, input.w-100.input-mood:hover,
input.w-100.input-music:hover,
input.w-100.input-want:hover {
    background: #0c1c09;
    color: #d9dcd9;
    transition: 0.4s;
}

.avatar-select-list {
    background: transparent;
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
opacity: 0.6;
    margin: 2px;
    width: 100px;
    border:2px solid #283120; 
    transition: 0.3s;
}
.avatar-select-label:hover {
opacity: 1;
    transition: 0.3s;
}
.avatar-select-label-selected {
opacity: 1;
    border:2px solid #283120; 
  transition: 0.3s;
}

.alert-success {
    font-size: 15px;
    text-align: center;
    background: #293426;
    color: #859787;
    border: 1px solid;
    border-color: #859787;
    font-weight: 600;
}

* {
    outline: 0;
}

 [href="#footer"] { 
    font-size: 0px;
}

[href="#footer"]:before {
    content: 'ᗑ';
    font-size: 22px;
    width: 35px;
    height: 35px;
    position: fixed;
    color: #859787;
    right: 20px;
    bottom: 15px;
    border: 1px solid #859787;
    background: #293426;
    padding-left: 8px;
    padding-top: 0px;
    border-radius: 50%;
    line-height: 1.4;
    transform: rotate(180deg);
    box-shadow: 0px 0px 10px 0px #00000080;
    z-index: 7;
    transition: 0.3s;
}
[href="#footer"]:hover:before { 
color: #d8dcd8!important;
background:#0c1c09;
  transition: 0.3s;
}
[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: 'ᗑ';
    font-size: 22px;
    position: fixed;
    width: 35px;
    height: 35px;
    color: #859787;
    border: 1px solid #859787;
    background: #293426;
    border-radius: 50%;
    line-height: 1.4;
    right: 70px;
    bottom: 15px;
    padding-left: 8px;
    z-index: 8;
    box-shadow: 0px 0px 10px 0px #00000080;
    transition: 0.3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before { 
color: #d8dcd8!important;
background:#0c1c09;
  transition: 0.3s;
}


textarea {
    border: 2px solid #465b45;
    background: #d9dcd9;
    color: #0c1c09;
}


.textareabg {
    border-image-slice: 115 200 125 166 fill;
    border-image-width: 70px 119px 80px 100px;
    border-image-repeat: round round;
    border-image-source: url(https://i.postimg.cc/nhgTZ9J3/222.png);
    border-style: solid;
    padding: 30px !important;
    margin: 35px 10px 20px;
    background: linear-gradient(90deg, rgb(199 206 202 / 51%), rgb(175 189 177 / 43%), rgb(199 206 202 / 34%));
}


 
.py-4 + .crumbs:after {
    content: '';
    width: 1084px;
    height: 52px;
    background: url(https://i.postimg.cc/KzzDt8PV/image.png) no-repeat;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: -20px;
    z-index: 2;
    filter: drop-shadow(0px 2px 6px #00000050);
}

div.crumbs:before {
    content: '';
    width: 1084px;
    height: 52px;
    background: url(https://i.postimg.cc/KzzDt8PV/image.png) no-repeat;
    position: absolute;
    top: 96px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    filter: drop-shadow(0px 2px 6px #00000050);
}

.crumbs span, .crumbs a {
    font-family: "19192";
}

.crumb-item {
    border-bottom: 4px dotted #6d8071;
    font-weight: bold;
    font-family: "19192";
    color: #031c0e;
    font-weight: 200;
    letter-spacing: 4px;
}



.pagination a {
    font-size: 12px;
    font-family: "Play", sans-serif!important;
    padding-right: 0px;
border-bottom: none!important;
}
.pagination {
    position: absolute;
    width: fit-content;
    top: 150px;
    left: 0;
    right: 0;
    float: none;
    margin: auto;
    font-size: 12px;
    z-index: 1;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 20px;
}

  
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #cad1ca;
    border-left: 2px ridge #1726167d;
}
::-webkit-scrollbar-thumb {
    background-color: #283120;
    border-left: ridge 2px #1726167d;
    border-right: ridge 2px #1726167d;
    border-bottom: ridge 2px #1726167d;
}

/*плеер*/

div#beon-fnplayer {
    padding: 5px;
    background: transparent;
}

 #fnplayer-slider > span { 
font-size:0px!important;  
} 

#fnplayer-slider {
    height: 6px;
    background-color: #829782!important;
}

#fnplayer-slider-inner {
    height: 6px;
    width: 0%;
    background-color: #0a1405 ;
}

#fnplayer-volume {
    height: 6px;
    background-color: #829782;
}

#fnplayer-volume-inner {
    height: 6px;
    width: 100%;
    background-color: #0a1405 !important;
    border: 1px solid #0a1405;
} 

#fnplayer-volume-mask {
border:none!important;
}

#fnplayer-stop {
    border: 0;
    background: #0a1405 !important;
    border-radius: 10px;
    margin-bottom: 1px;
}

#fnplayer-play {
    border-color: transparent transparent transparent #0a1405 !important;
    margin-bottom: 1px;
}

/*---------*/

  @media   (max-width: 1280px) {


div.crumbs:before, .py-4 + .crumbs:after {
display:none!important;
}
div.crumbs {
    margin-top: 60px!important;
}

.pagination {
    top: 204px!important;
}
 main.py-4:after, main.py-4:before {
display:none!important;
}
}

 
@media  (max-width: 840px), (max-width: 700px) {

.menu__item {
    font-size: 16px!important;
}

.menu__box {
    right: 0;
    left: 125px!important;
    background: #ded9ed;
    max-height: 0px;
    top: 51px;
    width: 69%!important;
    display: unset!important;
   opacity: 1;
}
#menu__toggle:checked ~ .menu__box {
    max-height: 80%!important;
    opacity: 1;
        top: 76px;
    z-index: 15!important;
}


[href="#footer"]:before {
    font-size: 15px!important;
    width: 25px!important;
    height: 25px!important;
    right: 12px!important;
    padding-left: 6px!important;
}

 [onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    font-size: 15px!important;
    width: 25px!important;
    height: 25px!important;
    right: 45px!important;
    padding-left: 6px!important;
}
.fas, .far {
    font-size: 1rem!important;
    padding: 0rem!important;
}

.tag_bar > * {
    padding: 0rem!important;
}

 .col-12  {
    font-size: 0.80rem;
}
span.comments_count span::before {
    font-size: 12px!important;
}

span.comments_count a {
    font-size: 14px!important;
margin-right: -18px!important;
}

 #avatars-fullscreen-modal .modal-content {
    width:100%!important;

}
.post-avatar img {
    width: 80px!important;
}


.pagination {
    position: unset!important;
}

.left-menu {
    position: unset!important;
}
div.left-menu:before, .blog__about [href="/design/disable"]:after, .fa-angle-down:before {
display:none!important;
}

.left-menu {
   max-height: unset!important;
         overflow: unset!important;
}



.left-menu > div.mobile_open_menu > h3 {
        color: #cad1ca !important;
        background: url(https://i.postimg.cc/KzzDt8PV/image.png) no-repeat center !important;
        font-weight: 100 !important;
        font-size: 25px !important;
    }

.post-content.blog_total_counter {
    height: 250px!important;
}

.post-title-user {
    margin-left: 15px!important;
}

.post-avatar {
    margin-top: 0px!important;
}
 .comment-content {
    padding: 15px!important;
}
.post-content  {
    padding: 10px!important;
}

body.bodybg {
     background:url(https://i.postimg.cc/4dHkYj8d/grunge-wall-texture.png) fixed!important;
    background-size: cover;
}

div#app, .content {
    width: 100%!important;
}

 main.py-4:after, main.py-4:before {
display:none!important;
}
 

.flag, [src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/user.png"],
[src="/i/offline.png"],
 [src="/i/online.png"],
.user:before,
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
[action="/search"], .post-title-date+a  {
display:none!important;
}

}
