@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Roboto&display=swap');
/*font-family: 'Lora', serif;
font-family: 'Playfair Display', serif; 
font-family: 'Roboto', sans-serif; */        
 



/*основа*/

div#app {
    padding: 0px;
}

div#footer, .footer__infolinks.p-1, div#app+div+[style="text-align: center"], div#page__rendertime.p-1, .text-center {
font-size:0;
}

body.bodybg {
     background: #fafafa;
}

* {
font-family: 'Lora', serif;
}

a, div, span[data-target="#deleteconfirmmodal"]  {
    text-decoration: unset!important;
 } 

a:hover, span[data-target="#deleteconfirmmodal"]:hover {
    text-decoration: unset!important;
}


main.py-4 {
    margin: 80px auto;
    padding-top: 0!important;
    padding-bottom: 0!important;
    max-width: 500px;
}

.content {
position:relative;
    width: 100%;
}

 [action="/search"], .blog__iread, .blog__last-comments, .pagination-goto,  .blog__gifts, 
.left-menu__friends,
.community__moders,
.community__members,
.blog__read-me,
.post-content.blog_total_counter,
.user:before, [src="//beon.fun/i/tag.png"],
[src="//beon.fun/i/design-off.png"],
.tag:before, .flag, [src="//beon.fun/i/offline.png"]  {
display:none;
}


/*--------------*/


/*теги*/


.post__tags-list {
    background: #f5f5f5;
    border-top: 1px solid #dcdcdc;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 30px;
}

.post__tags-list a {
color: #b4aada!important;
    font-size: 12px!important;
padding-left: 5px;
transition: 0.4s;
}

.post__tags-list a:hover {
    color: #000!important;
transition: 0.4s;
}
.post__mood, .post__musicplay, .post__wish {
     font-size: 0;
}

 div.post__tags-list {
    font-size: 0;
}

.post-text {
position: unset !important;
}
.post-opt.col-12.col-md-6 {
padding: 0px;
position: unset !important;
}

.post-content {
position: relative;
min-height: auto;
}

.row.w-100 {
margin: 0px;
}
 
.comment-text+div {
    text-align: end;
    cursor: pointer;
    padding-top: 8px;
color: #9e9e9e;
}

.comment-content .comment-text+div {
    padding-top: 50px;
}

.post-opt [style="font-size: 1rem;"] {
    margin-top: -15px;
}
/*-----------*/


/*счётчик комментов*/

span.comments_count {
    background: #66339900;
    position: absolute;
    top: 70px;
    right: 10px;
}
span.comments_count span {
display: none;
}

.comments_count a {
    font-size: 12px!important;
    padding-left: 5px;
    font-weight: 900;
    color: #9e9e9e!important;
}
/*-----------*/


/*----Автор-----*/
 
span.post-likes-count, .row.w-100 [href$="edit"], .row.w-100 [href*="/repost/post/"], .row.w-100 span[data-target="#deleteconfirmmodal"], 
[href^="//beon.fun/repost/post/"] , [href^="//beon.fun/repost/comment/"],
.post-opt [href$="/edit"],
.comment-row span[data-target="#deleteconfirmmodal"],
.post-opt span[data-target="#deleteconfirmmodal"]   {
    background: #f5f5f500;
    position: absolute;
    top: 25px;
    width:30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    font-size: 0px;
   cursor: pointer;
}
 

i.fas.fa-trash-alt {
    font-size: 0;
}
span.post-likes-count {
    right: 20px;
    line-height: 1.6;
    font-size: 20px;
}
.fa-heart:before {
    content: "\f004";
    font-weight: 100;

}
.row.w-100 [href$="edit"], .post-opt [href$="/edit"] {
    right: 80px;
}

.row.w-100 [href*="/repost/post/"] ,    [href^="//beon.fun/repost/post/"],
[href^="//beon.fun/repost/comment/"] {
    right: 50px;
}
[href^="//beon.fun/repost/post/"]:before,
[href^="//beon.fun/repost/comment/"]:before {
    font-weight: 100;
    font-size: 25px !important;
    content: "\21BB";
    line-height: 1.3;
    color: #9e9e9e;
}
.row.w-100 span[data-target="#deleteconfirmmodal"],
.post-opt span[data-target="#deleteconfirmmodal"],
.comment-row span[data-target="#deleteconfirmmodal"] {
right: 113px;
}

.post-opt.col-12.col-md-6 [data-target="#deleteconfirmmodal"]:before, 
.post-opt span[data-target="#deleteconfirmmodal"]:before,
.comment-row span[data-target="#deleteconfirmmodal"]:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
    font-size: 18px !important;
    content: "\f2ed";
    color: #9e9e9e;
    line-height: 1.9;
}

.post-opt.col-12.col-md-6 [href$="/edit"]:before,
.post-opt [href$="/edit"]:before  {
    font-size: 19px !important;
    font-family: 'Font Awesome 5 Free';
    content: "\f044";
    color: #9e9e9e;
    line-height: 1.7;
}

 .fas.fa-heart {
color: #9e9e9e;
}


/*---------*/

/*Гость*/

.likebutton, span.repostbutton, span.bookmarkbutton, span.complaintbutton {
    background: #f5f5f500; 
    position: absolute;
    top: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    color: #9e9e9e;
    font-size: 15px;
    cursor: pointer;
}

.likebutton {
    right: 15px;
}

span.repostbutton {
right: 45px;
}

span.bookmarkbutton {
right: 72px;
}

span.complaintbutton {
right:98px;
}

/*-----------------*/

/*посты*/


.post-content, .comment-content {
    padding: 5px;
    background: #f5f5f5;
    position: relative;
    border: 1px solid #dcdcdc;
    margin: 0px 0px 80px!important;
}
.comment-content,.post-content{
    padding-top:90px;
}
.post-content .post-avatar, .comment-content .post-avatar {
    top: 20px;
    left: 20px;
    position:absolute;
}
.post-avatar img {
    width: 3em;
    height: 3em;
    object-fit: cover;
   border-radius: 50px;
}
.post-content .post-title-user, .comment-content .post-title-user {
    left: 80px;
    top: 27px;
    position: absolute;
    font-size: 17px;
    color: #b4aada;
    font-weight: bolder;
    transition: 0.4s;
}

.post-text, .comment-text {
    font-size: 13px;
    padding: 12px 18px 80px 18px;
    background: #fff;
    margin-top: -21.7px;
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: -5px;
    border-top: 1px solid #dcdcdc;
}

.comment-text {
    border-bottom: 1px solid #dcdcdc;
}

.sign {
    font-size:0;
}

span.post-title-date+span {
font-size:0px;
}


.imagefsme:not(.user *):not(.blog *) {
    cursor: zoom-in;
    padding: 0px;
}

    img.imagefsme {
    transform: scale(1.08);
    margin-top: 5px;
    margin-bottom: 5px;
}



.post-title  {
font-size: 25px;
    display: block;
    background: #fff;
    margin-left: -10px;
    margin-right: -5px;
    margin-bottom: -2px;
    text-align: left;
    padding: 25px;
    color: #000;
    border-top: 1px solid #dcdcdc;
}

a.post-title {
font-family: 'Playfair Display', serif;
font-weight: bold;
color: #000!important;
transition: 0.4s;
}

a.post-title:hover {
color: #b4aada!important;
transition: 0.4s;
}

 h1 {
   font-family: 'Playfair Display', serif;
   font-size: 25px;
    display: block;
    background: #fff;
    margin-left: -5.5px;
    margin-right: -6px;
    margin-bottom: -2px;
    text-align: left;
    padding: 25px;
    color: #000;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

[style="margin-left: 10px;"] {
    background: #fff0;
    text-align: center;
    font-size: 15px;
    padding: 0px;
    border-top: unset;
    border-bottom: unset;
}

h2 {
    font-size: 10px;
    text-align: center;
}

/* корректировка заголовка */
.textareabg.p-1 h1, .content h1 {
border: 1px solid #dddddd;
margin-bottom:0;
}

.post-title-date {
    font-size: 0px;
    color: #9e9e9e;
    position: absolute;
    top: 38px;
    left: 80px;
    padding-left: 0;
}

.datebg {
    font-size: 10px;
    position: absolute;
    z-index: 1;
    left: 67px;
    margin-top:49px;
    color: #9e9e9e;
    font-weight: 100;
}


.datebg { 
    opacity: 0; 
  transition: 0.4s;
}
  
.datebg:hover {
    opacity: 1;
cursor: help;
  transition: 0.4s;
}
 
.small-text+div a {
color: #b4aada;  
}

.small-text+div { 
    position: relative;  
    background: #fff;
    padding: 5px;
    margin-top: -1px;
    margin-bottom: -3px;
    margin-left: -5px;
    margin-right: -5px;
    font-size: 12px;

}
.post-content a, .comment-content a {
    color: #888888;
transition: 0.4s;
}
.post-content a:hover, .comment-content a:hover {
    color: #000;
transition: 0.4s;
}
.quotation {
    background: #f5f5f500;
    border-left: 2px solid #d5d5d5;
    padding-left: 12px;
    margin-left: 18px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}


.post-content .post-title-user, .comment-content .post-title-user {
font-family: 'Playfair Display', serif;
}

.small-text {
    font-size: 0;
}
 .prevsibling.col-md-6, .nextsibling.text-right.col-md-6 {
    font-size: 0;
}



/* меню */


.py-4 {
    display: flex;
    flex-direction: column;
}

.left-menu {
    width: 100%;
    padding: 0px 1% 2% 1%;
    overflow-x: hidden;
}

.left-menu * { 
color: #000; 
}

.left-menu > div {
    text-align: center; 
     
}

.blog__about h3.left-menu-text  {
 font-size: 0px!important;
border-bottom:none!important;
}
.blog__about a, .blog__about div.left-menu-text  {
    font-size: 0px;

}
.blog__about [href="/design/disable"]:before {
    content: 'откл. дизайн';
    color: #b4aada;
    font-size: 15px!important;
    letter-spacing: 1px;
   text-transform: uppercase;
    font-family: 'Lora', serif;
    transition: 0.4s;
}

.blog__about div.left-menu-text [href^="//beon.fun/users/"]:before {
    content: ' профиль ';
    color: #b4aada;
    font-size: 15px!important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Lora', serif;
    transition: 0.4s;
}

.blog__about [href="/design/disable"]:hover:before, .blog__about div.left-menu-text [href^="//beon.fun/users/"]:hover:before {
    color: #000;
    transition: 0.4s;
}

.blog__about:before {
    content: ' ';
    display: block;
    height:290px;
    background: url(https://64.media.tumblr.com/a9c1301bebdf11ab713de93631754c32/67fcb28f6ba117f1-45/s2048x3072/384aedb8ea5fc8eb62a250dab8012c94b1ad2f2f.gif) no-repeat  center;
    background-size: contain;
margin-top: -6px;
}
div.left-menu {
    margin-right: 5px;
    margin-bottom: 50px;
    padding: 0;
    border: 1px solid #dcdcdc;
}
.left-menu__user-notification.left-menu__unread-message .post-title-date {
font-size:0;
}


.blog__about p.left-menu-text a, .blog__about div.left-menu-text a {
    display: block;
}

  .blog__about div.left-menu-text a {
    text-transform: uppercase;
    text-align: center;
    display: inline-table;
 
}
.blog__tags {
    padding: 20px 0px 25px 0px;
    border-top: 1px solid #dcdcdc!important;
}
.blog__tags a {
    color: #b4aada; 
    font-size: 15px!important;
    letter-spacing: 1px;
    font-family: 'Lora', serif; 
    transition: 0.4s;
}
.blog__tags a:hover {
    color: #000; 
transition: 0.4s; 
}
.blog__tags h3.left-menu-text  {
 font-size: 0px!important;
border-bottom:none!important;
}

.blog__about {
    background: #fff;
    padding-bottom: 10px;
}
h3.left-menu-text {
    font-size: 12px; 
    background: #fff!important;
    color: #000!important;
    text-align: center!important;
    border-bottom: 1px solid #dcdcdc; 
}


[class="left-menu__user-notification left-menu__unread-message"], [class="notifications__comments  left-menu__user-notification  "],[class="left-menu__user-notification left-menu__unread-notifications"] {
display:none;
}

#app > main > div.left-menu > div.blog__about > div:nth-child(3) {
    font-size: 12px;
    padding: 55px 10px 15px 10px;
}

.text-center img {
    border-radius: 50%;
    border: 5px solid #ffffff;
    width: 100px;
    height: 100px;
    z-index: 2;
    position: relative;
    margin: -65px auto -10px auto;
}

/*------------*/

/* шапка */ 


.m2 {
    font-size: 0;
}

.pc-menu {
    display: none;
}
.bg-white {
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    padding: 29px;
    box-shadow: unset!important;
}

.navbar-brand {
    font-size: 0px;
}
a.navbar-brand:before {
    position: absolute;
    left: 20px;
    top: 22px;
    content: ' B';
    width: 35px;
    height: 35px;
    color: #9e9e9e;
    border: 1px solid #dddddd;
    background: #ffffff;
    border-radius: 5px;
    font-weight: 900;
    font-size: 22px;
    display: block;
    padding-left: 9px;
    text-transform: uppercase;
    transition: 0.4s;
}

a.navbar-brand:hover:before {
    color: #fff;
    background: #b4aada;
transition: 0.4s;
}


.hamburger-menu {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 15px;
    width: 35px;
    height: 35px;
    border: 1px solid #dddddd;
    background: #ffffff;
    border-radius: 5px;
    padding-left: 4px;
    padding-top: 4px;
    z-index: 1;
    transition: 0.4s;
}
.hamburger-menu:hover  {
    background: #c19de2;
   border-radius:5px;
}

ul.menu__box {
    overflow: auto;
    width: 250px;
    border-radius: 3px;
    height: 780px;
    padding: 100px 10px 20px 10px;
    background: #ffffff;
    box-shadow: none;
    border: 1px solid #dcdcdc;
font-family: 'Lora', serif;
}
ul.menu__box::-webkit-scrollbar {
    width: 0px;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0px;
}

 label.menu__btn:hover span:before, label.menu__btn:hover span:after, label.menu__btn:hover span {
    background: #fffefb;
}

a.menu__item {
    color: #000000;
    line-height: 1.4;
    padding: 0px;
    font-size: 15px;
    text-align: center;
    font-weight: 100; 
}
.menu__item:hover {
    background-color: #c19de2;
    color: #fff; 
   border-radius:5px;
    transition-duration: unset;
    transition: 0.2s;
}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    width: 25px;
    background: #888888;
    height: 2px;
transform: rotateY(45deg);
}


/*------------*/

/*пагинаторкрумбс*/

.pagination {
    position: fixed;
    bottom: 14px;
    right: 55px;
    font-size: 0px;
}

.pagination a:last-child:after {
    content: 'next';
    width: 35px;
    height: 35px;
    color: #9e9e9e;
    border: 1px solid #dddddd;
    background: #ffffff;
    border-radius: 5px;
    font-weight: 900;
    font-size: 9px;
    display: block;
    line-height: 3.7;
    text-transform: uppercase;
    transition: 0.3s;
}

span.pagination-goto+a:after {
    content: 'back';
    width: 35px;
    height: 35px;
    color: #9e9e9e;
    border: 1px solid #dddddd;
    background: #ffffff;
    border-radius: 5px;
    font-weight: 900;
    font-size: 9px;
    display: block;
    line-height: 3.7;
    padding-left: 2px;
    text-transform: uppercase;
    transition: 0.3s;
}

.pagination a:last-child:hover:after, span.pagination-goto+a:hover:after {
   color: #fff!important;
    background: #b4aada;
    transition: 0.3s;
}
.pagination a:last-child:after {
    margin-right: 10px;
}

span.pagination-goto+a:after {
    margin-right: 6px;
}

.pagination a:last-child,span.pagination-goto+a {
    font-size: 0;
}


.crumbs [href="/p"] {
    display: none;
}

.crumbs {
    position: absolute;
    left: 0;
    text-align: center;
    right: 0;
    top: 105px;
    border-radius: unset;
    font-size: 0px;
    letter-spacing: 1.5px;
}

.crumbs [href="/"] {
    margin-top: 300px !important;
    display: none;
}
 

span.crumb-item {
    font-size: 20px!important;
    border-radius: unset;
    position: absolute;
    color: #b4aada;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 380px auto;
}
 

/*-------*/

.emj-dropdown-content {
    min-width: 160px;
    width: 100%;
    max-height: 160px;
}




[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: '\25B2';
    font-size: 22px;
    position: fixed;
    width: 35px;
    height: 35px;
    color: #9e9e9e;
    border: 1px solid #dddddd;
    background: #ffffff;
    border-radius: 5px;
    line-height: 1.4;
    padding-left: 5px;
    right: 20px;
    bottom: 95px;
    transition: 0.3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before { 
color: #fff!important;
background:#b4aada;
  transition: 0.3s;
}


  [href="#footer"] { 
    font-size: 0px;
}

[href="#footer"]:before {
    content: '\25BC ';
    font-size: 22px;
    width: 35px;
    height: 35px;
    position: fixed;
    color: #9e9e9e;
    right: 20px;
    bottom: 55px;
    transition: 0.3s;
    border: 1px solid #dddddd;
    background: #ffffff;
    border-radius: 5px;
    padding-left: 5px;
}
[href="#footer"]:hover:before { 
color: #fff!important;
background:#b4aada;
  transition: 0.3s;
}

select,
input ,
.btn-outline-primary,
.textareabg input[type="submit"],
.left-menu-text input[type="text"],
.left-menu-text input[type="submit"], 
button.btn.btn-secondary, 
button.btn.btn-primary {
    background: #fff;
    border: 1px solid #dcdcdc;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    transition: 0.4s;
}

 select:hover,
input:hover,
.btn-outline-primary:hover,
.textareabg input[type="submit"]:hover,
.left-menu-text input[type="text"]:hover,
.left-menu-text input[type="submit"]:hover, 
button.btn.btn-secondary:hover, 
button.btn.btn-primary:hover {
    background: #b4aada;
    border: 1px solid #dcdcdc;
    color: #fff;
    transition: 0.4s;
}

.post-content [type=submit]   {
    margin-left: 4px;
}


.modal-body {
    color: #000;
    position: relative;
}

.modal-content {
    background: #fafafa;
    border: 1px solid #dcdcdc;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}



.textarea-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

 
textarea [style="height:235px;overflow-y:"hidden";"] {
overflow-y: auto;  
}

.textarea-wrapper > textarea {
    flex: auto;
}

.avatar-select-list {
    background: #fafafa;
    text-align: center;
    width: 100%;
    height: 50px;
    overflow-y: scroll;
}

.avatar-select-label {
    margin: 2px;
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 0px;
    border: 1px solid #dcdcdc;
    transition: 0.3s;
}
 
 

.avatar-select-label-selected {
 opacity: 1;
  border-radius: 3px;
   border: 1px solid #dcdcdc;
   width: 3em;
   height: 3em;
   object-fit: cover;
   border-radius: 50px;
  transition: 0.3s;
}

.emj-dropdown {
    padding: 0px; 
}
.row {
    margin-left: 0;
    margin-right:0;
    font-size: 12px;
}
a.messageform__taglink.tag {
    color: #b4aada;
transition: 0.4s;
}
a.messageform__taglink.tag:hover {
    color: #000;
transition: 0.4s;
}
.textareabg {
    background: #fff;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: 1px solid #dcdcdc!important;
}

textarea {
    border: 1px solid #dcdcdc;
    background: #fff;
    color: #000; 
}


   div#newpostform br,div#newpostform br+br+p {
    display: none;
}
 
span.emj-dropdown {
    padding: 0px;
}
form.messageform p {
    margin-bottom: 0px;
} 

.container-fluid {
    padding-left: 0px;
}

.container-fluid.mt-5 {
    margin-top: 0px !important;
    padding-left: 0px!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 18px;
}

.alert-success {
    font-size: 15px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-color: #dcdcdc;
    font-weight: 100;
}


::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
    border: 6px solid #fafafa;
    background-color: #212121;
    min-height: 24px;
    min-width: 24px;
}

::-webkit-scrollbar-track {
    border: 8px solid #fafafa;
    background-color: #dcdcdc;
}

 /*плеер*/

div#beon-fnplayer { 
    padding: 15px;
    background: transparent;
}

#fnplayer-slider > span { 
font-size:0px!important;  
} 

#fnplayer-slider {
    height: 4px;
    background-color: #b4aada!important;
}

#fnplayer-slider-inner {
    height: 4px;
    width: 0%;
    background-color: #d3cde9;
}

#fnplayer-volume {
    height: 4px;
    background-color: #d3cde9;
}
#fnplayer-volume-inner {
    height: 4px;
    width: 100%;
    background-color: #b4aada!important;
}

#fnplayer-volume-mask {
border:none!important;
}

#fnplayer-stop {
    display:none;
}

#fnplayer-play {
    border-color: transparent transparent transparent #b4aada!important;
    margin-right: -6px;
}

 

/*МЕДИА*/
@media (max-width: 700px) {

 
div#app {
    padding: 12px!important;
}
  .left-menu__friends {
    display:none!important;
}
span.crumb-item {
    margin-top:350px!important;
    font-size: 0px!important;
    top: 0!important;
    width: 50%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}
.bg-white {
    border: 1px solid #dcdcdc!important;
}

.fas, .far, .tag_bar > * {
    padding: 0!important;
}
.fa-lock-open:before {
    display:none;
}


.left-menu > div {
    display: block;
}
.left-menu > div.mobile_open_menu {
    display: none;
}
.blog__about:before {
    margin-top: -45px!important;
}

.blog__iread, .blog__last-comments, .pagination-goto,  .blog__gifts, 
.left-menu__friends,
.community__moders,
.community__members,
.blog__read-me {
display:none!important;
}

.text-center img {
    z-index: 0!important;
}

.emj-dropdown-content {
    width: 80%!important;
    max-height: 300px!important;
}

.fa-step-backward:before, .fa-step-forward:before, .fa-angle-down:before {
    display:none!important;
}

.small-text+div {
    margin-top: -2px!important;
    margin-bottom: -4px!important;
    margin-left: -4.5px!important;

}
.avatar-select-list {
    height: 80px!important;
}
[href="#footer"]:before {
    z-index: 1!important;
}

[class="left-menu__user-notification left-menu__unread-message"], [class="notifications__comments  left-menu__user-notification  "],[class="left-menu__user-notification left-menu__unread-notifications"] {
display:none!important;
}


}
