@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Tinos&display=swap');
/*font-family: 'Tinos', serif;
font-family: 'Caveat', cursive;
*/


div#app {
 padding: 11.5%; 
 padding-top:7%;
background-color: #fff!important;
background:url(https://i.postimg.cc/14x05nKh/tumblr-static-4xlg0ayuld4488gw0g444so4o.png)repeat-x fixed;
}

 body {
background-color: #fff!important;
}

 a,div {
text-decoration: none!important;
color: #878787;
}

span[data-target="#deleteconfirmmodal"] {
    color: #878787;
    cursor: pointer;
}

span[data-target="#deleteconfirmmodal"]:hover {
    color: #1d68a7;
    text-decoration: none;  
}

p {
margin-top: 0;
margin-bottom: 0;}

p.left-menu-text {
padding-left: 0px;
}

.blog_total_counter{display:none;}


.bg-white {
outline-offset: -4px;
border: 7px solid #eaf8fa;
outline: 1px dashed #fff;
background:url(https://i.postimg.cc/PJqccG0c/5abe2f141ae7e470dd25d999fc9e6d63.jpg)repeat;
border-radius: 0px 0px 20px 20px;
}
 
.container {
    min-width: 100px;
}

.pc-menu a {
   font-size:12px!important;
font-family: 'Tinos', serif;
color: #878787!important;
}

.pc-menu a:hover {
    color: #1d68a7!important;
}

.shadow-sm {
    box-shadow:none!important;
}

li {
list-style-type: none;
}

li::before {
   content: "✦"!important;
   color: #eaf8fa!important;
text-shadow:0px 0px 3px #000000;
    margin-right: 3px;
    padding: 3px;
   font-size:10px;
}
 
nav.navbar:before {
     content: " ⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆";
   color: #87878750!important;
   margin-left: 20px;
  font-size:18px!important;
}


a.navbar-brand {
    color: #87878790!important;
     font-size: 24px;
    margin-left:-35px;
font-family: 'Tinos', serif;
}

.navbar-brand:hover {
color: #1d68a7!important;
} 


.py-4 {
    display: flex;
    flex-direction: row-reverse;
}



.post-content:before{
content:'ff';
position:absolute;
width:100px;
margin-top: -2.7%;
margin-left: 50.5%;
height:50px;
font-size:0px;
background:url(https://i.postimg.cc/N0YDmygc/2222222222222.png) no-repeat top right;
 transform: rotate(45deg);
background-size:40%; 

}



.datebg {
    padding: 6px;
    width: fit-content;
    text-align: center;
    margin-top: 10px !important;
    margin-bottom: -45px;
    margin-left: auto !important;
    margin-right: 20px !important;
    font-size: 13px;
    background: #eaf8fa;
    outline: 2px dashed #fff;
    outline-offset: -4px;
    transform: rotate(3deg);
  font-family: 'Tinos', serif;
}


a.post-title {
display: block;
width: fit-content;
padding: 0px 5px;
 margin-top: -40px;
margin-left: -5px!important;
background: #eaf8fa!important; 
min-width:150px;
outline-offset: -4px;
outline: 2px dashed #fff;
text-align: center;
font-size:20px;
transform: rotate(-1deg);
font-family: 'Caveat', cursive;
}  

.post-content {
padding: 1.5%; 
box-shadow:7px 8px 0px #00000010;
border-radius: 0px 0 20px 0;
border-right: 7px solid #eaf8fa;
border-bottom: 7px solid #eaf8fa;
border-left: 1px solid #87878790;
background:url(https://i.postimg.cc/PJqccG0c/5abe2f141ae7e470dd25d999fc9e6d63.jpg)repeat, url(https://i.postimg.cc/RZ15vBWP/2.png) repeat-y bottom left;
background-blend-mode: darken ;
margin:38px 10px 20px !important;
min-height: 200px;
color: #878787;
font-family: 'Tinos', serif;
font-size:14px;

}



.content {
 margin-right:30px;
    margin-left:-10px;
    height: auto;
 background-color: #ffffff50!important; 
}


.comment-content  {
background-color: #fff!important;
padding: 1.2%; 
margin: 2px 12px 0px !important;
border-bottom:4px solid #00000010;
}
 .comment-text, .post-text  {
font-size:15px;
 padding: 5px;
}

h1,h2 {
    color: #1d68a7!important;
    padding: 1px 15px;
    font-size: 13px;
  text-align:center;
font-family: 'Caveat', cursive;
  text-transform: uppercase;
}  


.post-title-user {
font-family: 'Caveat', cursive;
font-size:20px;
}

.quotation {
    border-left:3px solid #00000050;
    background: #eaf8fa90;
font-size:10px;
font-weight: bold;
}

.post-avatar img {
border: 3px solid  #eaf8fa;
border-radius: 0px 0 20px 0;
}


.left-menu{
margin-top:1.6%!important; 
font-size:13px;
border: 1px solid #e7f1f3!important;
background-color: transparent!important; 
}

.left-menu__friends { 
	display:none;
}


.text-center img {
    width: 100px;
    height: 100px;
    object-fit: contain;
border: 3px solid  #eaf8fa;
border-radius: 20px 0 20px 0;
}

[class="left-menu__user-notification left-menu__unread-message"] img {
    width:30%!important;
   margin-top: 4px;
border: 3px solid  #eaf8fa;
border-radius: 20px 0 20px 0;

}

h3.left-menu-text {
    padding: 0px 5px;
    margin-top: 10px !important;
    background: #eaf8fa!important;
    min-width: 150px;
    outline-offset: -4px;
    outline: 2px dashed #fff;
    text-align: center;
    font-size: 20px;
    color: #878787!important;
    font-family: 'Caveat', cursive;
}

.blog__about  {
background:url(https://i.postimg.cc/W3gnpsJC/tumblr-af3e617768ff90fb36b445e9109c9a21-f9085b94-500.gif) no-repeat bottom/72%;
background-color:#fff;
font-size: 12px;
font-family: 'Tinos', serif;
}

.blog__about:before {
content:'ff';
position:absolute;
width:100px;
height:50px;
font-size:0px;
   background:url(https://i.postimg.cc/N0YDmygc/2222222222222.png) no-repeat top right;
background-size:40%; 
}
 


.pagination a {
    background:  transparent;
    color: #000!important;
    font-size:12px;
    display: flex;
    margin-left: 7px;
    justify-content: center;
    align-items: center;
}

div.crumbs {
    margin-top: 5px;
    margin-bottom: 2px;
}

 .crumbs {
    background-color: transparent;
    color: #1d68a750!important;
    font-size:14px!important;
text-align:left;
font-family: 'Caveat', cursive;
text-transform: uppercase;
}

[placeholder="Поиск по дневнику"] {
   margin-left:0px;
}
input {
    color: #878787;
    border: 1px solid #fff;
    background-color: #eaf8fa;
   margin-top:4px;
 margin-left:5px;
}

input:hover{
        color: #878787;
    background-color: #fff;
}




[href="#footer"] { 
    font-size: 0px;
}

[href="#footer"]:before { 
   content: 'пп';
transform: rotate(27deg);
font-size:2px!important;
background:url(https://i.postimg.cc/GpKNX4xk/tumblr-static-4xlg0ayuld4488gw0g444so4o.png)!important;
position: fixed;
color: #fff!important;
height:40px;
width:45px;
right:2%;
top:17%;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before { 
   content: 'пп';
transform: rotate(37deg);
    position: fixed;
  background:url(https://i.postimg.cc/vmXnDyGY/2.png)!important;
  color:  #ffffff!important;
   font-size: 2px !important;
height:40px;
width:45px;
  right:2%;
  bottom:5%;
}

.avatar-select-list {
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
  width: 100px;
   border: 4px solid #fff;
    filter: sepia(0) hue-rotate(0);
 transition: 0.2s;
}

.avatar-select-label-selected {
  width: 100px;
  border: 4px solid #87878750;
    filter: sepia(0.8) hue-rotate(185deg);
 transition: 0.2s;
}


.textareabg { 
   background:#fff; 
   padding-right:10px;
   text-align: left;
   padding-bottom:10px;
   margin-left:5px;
}

textarea {
    background-color: #eaf8fa!important;
 background: url(https://i.postimg.cc/W4FG1KKK/vw.png) no-repeat bottom right;
    color:#000;
    outline: none;
    border-radius: 20px 0 20px 0;
    border:  1px solid #64646450;
   margin-left:5px;
}

.fas, .far {
font-size: 12px;
}

.tag_bar span{ 
font-size: 12px;
}

.tag_bar > span {
    font-size: 12px;
}

div.tag_bar {
margin-left:6px;
}

::-webkit-scrollbar {
width: 12px;
border-left: 5px solid #fff; 
    border-right: 5px solid #fff;
background-color: #87878750;
}


::-webkit-scrollbar-thumb {
border-left: 4px solid #fff;
 border-right: 4px solid #fff;
width: 4px; 
height:20px;
background-color: #d6f5ff;
border-radius:30px!important;
}

/*ПЛееР*/

 div#beon-fnplayer {
    height: 25px;
     padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
}

#fnplayer-slider > span {
    font-size:0px!important;
}

#fnplayer-slider {
    height: 2px!important;
    background-color: #fff!important;
    flex-grow: 1;
    position: relative;
}
#fnplayer-slider-inner {
    height: 2px!important;
    width: 2%;
    background-color: #cfc6c680!important;
}

#fnplayer-volume-mask {
   border:none!important;
}

#fnplayer-volume-inner {
    width: 100%;
    height:2px!important; 
    background-color: ##cfc6c680!important;
}

#fnplayer-volume {
    display: flex;
    align-items: flex-end;
    height: 2px!important; 
    width: 30px;
    flex-direction: row;
}

#fnplayer-stop {
    border: 0;
    background:  ##cfc6c680!important;
}

#fnplayer-play {
    border-color: transparent transparent transparent ##cfc6c680!important;
}

@media (max-width: 700px) {


div#app {
    width: 100%!important;
   padding: 0 0%!important; 
   border-left:  unset!important;
    border-right:  unset!important;
    background-color: transparent!important;
}

.py-4 {
flex-direction: column!important;
}
.post-title{
width: 100%;
}

.menu__box {
background: #fff;
    display: block;
    position: fixed!important;
height: auto;
top: 5%;
}
li::before {
  display:none;
}


.post-avatar img {
  width:85px!important;
}
[class="left-menu__user-notification left-menu__unread-message"] img {
      width:85px!important;
}

.avatar-select-list {
    width:100%;
}

.post-content:before {
 display:none!important;
}
a.post-title {
margin-top: 0px !important;
 margin-left:0px!important!important;
 font-size: 15px !important;
transform: rotate(0deg) !important;
}

.datebg {
    margin-bottom: -5px!important;
    font-size: 7px!important;
    background: #eaf8fa;
}


[href="#footer"]:before {
position: absolute!important;
right: 20%!important;
top: 5%!important;
color: #000!important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before { 
    position: absolute!important;
  color: #fff!important;
  bottom:auto!important;
  left:85%;
}

a.navbar-brand {
    font-size: 15px!important;
    margin-left: -15px!important;
}

.container {
    width: 50%;
}

.navbar-brand {
    padding-top:0rem;
    padding-bottom: 0rem;
}
}
