@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Orelega+One&display=swap');

/*-----------*/
body {
   margin: 0;
background-color: #dadada;
}

.content {
    width: 68.2%;
    margin-right: auto;
    padding-left: 2px;
}

.blog_total_counter{display:none;}


/*-----------*/
nav.navbar {
background: linear-gradient(98deg,#d2828f 0%, #ffffff 100%);
width:88%;
border-radius: 23px 23px 0px 0px;
border: 1px solid #fff;
box-shadow: -1px 3px 18px -5px #000!important;
}

a.my-menu.for-mobile.d-none.d-md-inline{font-size:0px;}
a.my-menu.for-mobile.d-none.d-md-inline:before {
content: ' \2BAF';
color: #fff!important;
font-size:40px!important;
right: -6.8%;
letter-spacing: 10px;
position:absolute;
}


[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"] {
text-shadow: unset !important;
font-size:0px;
}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before {
content: '\2BAD';
color: #fff!important;
text-decoration: unset;
transition: 0.1s;
text-shadow: 0 0 3px #99525e!important;
font-size:40px!important;
 margin-left: 100px;


}

.navbar-brand {
color: #fff!important;
font-family: 'Caveat', cursive;
font-size:30px!important;
}

.navbar-light {
color: RGBA(210,130,143, 0.70);
font-weight: bold;
}

.navbar-light a:hover {
text-decoration: unset;
transition: 0.1s;
text-shadow: 0 0 3px #99525e;!important;
}

/* цвет шрифта в шапке*/
.pc-menu a {
   color: rgb(255 255 255 / 90%)!important;
}

/*-----------*/
.post-content {

margin: 0px 10px 25px !important;
background: linear-gradient(98deg,#d2828f -20%, #ffffff  30%);
color: #9a4a55!important;

border: 1px solid #fff;
border-radius: 23px 0px 23px 23px;
padding:3px;
}

.comment-content {margin: 0px 10px 15px !important;
background: linear-gradient(98deg,#d2828f -20%, #ffffff  30%);
border-left: 1px solid #fff;
border-right: 1px solid #d2828f;
padding:3px;
}

.comment-text {
    padding: 5px;
}




/*-----------*/
.left-menu{
line-height: normal;
border: unset !important;
margin-left: 6%!important;
background: linear-gradient(-98deg,#d2828f -20%, #ffffff  30%);
border: 1px solid #fff!important;
border-radius: 23px 23px 0px 0px;
box-shadow: -1px 3px 18px -5px #000!important;
}

.left-menu-text {
    padding-left: 0px;
}


h3.left-menu-text {
background-color: #d2828f!important;
font-family: 'Caveat', cursive;
font-size:20px;
text-align: center;
}

p {
margin-top: 0;
margin-bottom: 0;}


/*-----------*/
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #d2828f;
    
    cursor: pointer;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    background: #d2828f;
    border: 6px solid #f8f8f8;
    border-top: 10px solid #f8f8f8;
    border-bottom: 10px solid #f8f8f8;
}

/*----------*/
.datebg {
background-color: #d2828f!important;
border-radius: 10px;
border-left:#fff outset 5px;
border-top:#fff outset 2px;
}

.datebg {
margin: -20px 10px 5px;
padding-left: -10px;
color: #fff!important;
font-family: 'Caveat', cursive;
font-weight: normal;
text-align:center;
font-size: 130%;
right: 35%;
width: 37%;
position:absolute;
}

/*------------*/
