@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



/*1*/

* {
font-family: "Balsamiq Sans", sans-serif;
}

a.post-title, h3.left-menu-text, .crumbs,a.user.post-title-user,.pc-menu a, h1 {
   font-family: "Comfortaa", sans-serif;
}

:focus-visible {
    outline: unset !important;
}
 
div#footer, .footer__infolinks.p-1, div#app+div+[style="text-align: center"], div#page__rendertime.p-1, .text-center {
font-size:0;
}

body {
 position: relative;
    background: url(https://i1.beon.fun/29/35/3529/90/1637590/dizayn-kosmos.jpg) fixed;
    background-size: auto;
}


div#app:after {
    content: '';
    position: fixed;
    margin-left: -30px;
    right: 0;
    bottom: 0;
    transform:rotate(97deg);
    display: block;
    background: url(https://i1.beon.fun/29/35/3529/99/1646899/e192492eb35525cfb16b573602fe60a1-kopia-2-Photoroom.png) no-repeat;
    background-size: contain;
    height: 600px;
    width: 580px;
    filter: drop-shadow(1px 3px 3px #00000060);
    pointer-events: none;
    z-index: -1;
}

div#app:before {
    content: '';
    position: fixed;
    margin-left: -30px;
    left: 0;
    bottom: 0;
    transform: rotate(319deg);
    display: block;
    background: url(https://i1.beon.fun/29/35/3529/28/1646928/111.png) no-repeat;
    background-size: contain;
    height: 600px;
    width: 580px;
    filter: drop-shadow(1px 3px 3px #00000060);
    pointer-events: none;
    z-index: -1;
}

span.post-title-date+span   {
font-size:0px;
} 

.admin-notification {
display:none;
}

  body {
  max-width: 100%;
  overflow-x: hidden;
}

a, div {
color:#363636;
text-decoration: none!important;
 transition: .9s;
}

a:hover, span[data-target="#deleteconfirmmodal"]:hover {
    transition: .0s;
    text-decoration: unset;
    color:#97758f;
text-shadow: 0 0 7px #ffe1f1;
}

.row {
    display: flex;
    align-items: flex-end;
}


.row.w-100.mt-3 {
    margin: -55px 0px 0px 0px !important;
    color: #bbbbbb;
    font-weight: 600;
    background: #e5cfdf;
    background-size: 1px 20px;
    padding-bottom: 0;
    padding-top: 0;
    border: 2px solid #97758f;
}

.comment-text+div {
    margin: 0px -10px 0px -10px ;
    color: #bbbbbb;
    font-weight: 600;
    border-top: 2px solid #97758f;
    background: #e5cfdf;
    background-size: 1px 20px;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}


::selection {
    color: #dfc3d0;
    background: #9b637f;
}

.post__mood, .post__musicplay, .post__wish, .post__tags-list {
    color: #97758f!important;
}


.tag:before {
    content: '#';
    font-size: 12px;
    color: #333;
}
a.tag {
    font-size: 11px;
    padding-right: 5px;
}
 

 [onclick="return showSpoiler(this)"] {
color:#281e31!important;
    transition: .3s;
}

[onclick="return showSpoiler(this)"]:hover {
   color:#97758f!important;
    transition: .3s;
}

.fa-retweet::before, .fa-bookmark::before, .fa-exclamation-triangle::before, .fa-quote-left::before, span[data-target="#deleteconfirmmodal"]  {
    color: #281e31;
   padding: 3px;
   transition: .5s;
}

.fa-heart:hover:before, .fa-retweet:hover:before, .fa-bookmark:hover:before, .fa-exclamation-triangle:hover:before, .fa-quote-left:hover:before  {
    color: #97758f;
text-shadow: 0 0 7px #ffe1f1;
   cursor:pointer;
   transition: .2s;
}

 [class="post-opt col-12 col-md-6"] span, .post-opt a, [onclick="deleteComment(this)"]  {
    color: #281e31;
   transition: .3s;
}

 [class="post-opt col-12 col-md-6"] span:hover,  .post-opt a:hover, [onclick="deleteComment(this)"]:hover {
    color: #97758f;
text-shadow: 0 0 7px #ffe1f1;
   transition: .3s;
}


.liked .fas, .reposted .fas, .bookmarked .fas {
    color: #281e31!important;
text-shadow: 0 0 7px #ffe1f1;
}

 .post-opt [style="font-size: 1rem;"] {
    font-size: 13px!important;
}


[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
[src="/i/user.png"],
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
.post-content.blog_total_counter,
 .user:before, img.flag {
display:none;
}


/*--*/


/*2*/


.left-menu h3 {
    color: #d9bdcb;
    text-align: center!important;
    font-weight: bold;
    text-transform: lowercase;
    border-bottom: 1px solid #281e31;
}
h3.left-menu-text {
    font-size: 15px;
    background: #281e31 !important;
    border-radius: 20px;
    padding: 5px;
}

div.left-menu {
    padding: 6px;
    padding-top: 95px;
    border: none;
}

[class="left-menu__user-notification"], [class="notifications__comments  left-menu__user-notification  "], [class="left-menu__user-notification left-menu__unread-message"], [class="left-menu__user-notification left-menu__unread-notifications"] {
    order:1;
}
.left-menu {
position: relative;
    display: flex;
    margin-top: 2px;
    width: 22%;
    min-width: 250px;
    padding: 0px 1% 2% 1%;
    overflow-x: hidden;
    flex-direction: column;
}
 
.left-menu > div {
    margin-bottom: 20px;
    background: url(https://i1.beon.fun/29/35/3529/83/1646883/19906e85a019cc281b48e9dccbe3c972-kopia-2.png) center fixed, url(https://i1.beon.fun/29/35/3529/86/1646886/77a372265aebcee19391ecd5b6449104.png) fixed, #d3b8c5;
    background-size: 24%, contain;
background-position-x: 13%;
    outline-offset: -7px;
    outline: 6px solid #281e31;
    padding: 10px;
    border-radius: 10px;
}

.text-center + div {
    color: #d9bdcb;
    background: #281e31;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
}

.left-menu {
position: relative;
}

.text-center img {
display:none;
}


.left-menu__unread-message img {
    margin-top: -8px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 4px double #281e31;
}

.left-menu__user-notification.left-menu__unread-message img+p {
    overflow: auto;
    line-height: normal;
    max-height: 50px;
    margin-top: 8px;
}

main.py-4 {
     position: relative;
}

main.py-4 {
    padding: 50px;
    padding-top: 80px !important;
   width: 76%;
    background: url(https://i1.beon.fun/29/35/3529/15/1637615/1.png) no-repeat top left, url(https://i1.beon.fun/29/35/3529/7/1637607/2.png) no-repeat top right, url(https://i1.beon.fun/29/35/3529/8/1637608/3.png) no-repeat bottom right, url(https://i1.beon.fun/29/35/3529/9/1637609/4.png) no-repeat bottom left, #281e31;
    background-size: 12%;
    background-blend-mode: exclusion;
    margin:200px auto 0;
    border: 1px solid #e5cfdf;
box-shadow: 0 0 25px 0px #c0b1914d;
}

main.py-4:before {
    content: '';
    position: absolute;
    margin-top: -80px;
    margin-left: -200px;
    left: 0;
    transform: rotate(22deg);
    display: block;
    background: url(https://i1.beon.fun/29/35/3529/98/1646898/db118a568008b3c771c56af9ffe97178-kopia-2-Photoroom.png) no-repeat;
    background-size: contain;
    height: 800px;
    width: 330px;
    filter: drop-shadow(1px 3px 3px #00000060);
    pointer-events: none;
    z-index: -1;
}


main.py-4:after {
    content: '';
    position: absolute;
    right: 0%;
    margin-top: -120px;
    margin-right: -185px;
    display: block;
    background: url(https://i1.beon.fun/29/35/3529/87/1646887/c30a54ded19fcde2d74d4a78e4385444-kopia-2-Photoroom.png) no-repeat;
    background-size: contain;
    height: 800px;
    width: 400px;
    z-index: 0;
    filter: drop-shadow(1px 3px 3px #00000060);
    pointer-events: none;
}

.blog__about:after {
    content: '';
    position: absolute;
    top: -10px;
    margin: auto;
    left: 0;
    right: 0;
    transform: rotate(45deg);
    height: 250px;
    width: 250px;
    background: url(https://i1.beon.fun/29/35/3529/45/1644945/33.png) no-repeat center;
    background-size: contain;
filter: drop-shadow(1px 1px 0px #281e31);
z-index: 2;
}

.blog__about:before {
    content: '';
    position: relative;
    display: block;
    margin: auto;
    margin-top: -100px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    background: url(https://i.pinimg.com/736x/35/02/c7/3502c7e81d4f689c1bd91dc15159527a.jpg) no-repeat center;
    background-size: contain;
    box-shadow: -1px 0px 0px 1px #f6d3d8, 3px 2px 0px 2px #eac1c74d;
    border-right: 1px solid #f6d3d8;
filter: drop-shadow(-3px 2px 0px #281e31);
z-index: 1;
}

.blog__about.mb-3 h3.left-menu-text {
    padding-top: 30px;
    font-size: 0;
    background: transparent !important;
    border: unset;
}

.blog__about h3.left-menu-text {
    padding-top: 30px;
    font-size: 0;
    background: transparent !important;
    border: unset;
}

.readertime {
    font-size: 65%;
    color: #81697b;
}

.blog__tags a:before {
    content: '#';
    font-size: 11px;
    margin-right: -2px;
    color: #97758f;
}

/*--*/



/*3*/

.content {
    width: 75%;
    padding: 0 15px;
    margin: 0 auto;
}


.content:before {
    content: '';
    position: absolute;
    right: 0%;
    top: 0%;
    transform: rotate(97deg);
    display: block;
    background: url(https://i1.beon.fun/29/35/3529/62/1647062/212.png) no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    filter: drop-shadow(1px 3px 3px #00000060);
    pointer-events: none;
    z-index: 1;
}

.post-text {
position: unset!important;
}


.post-text  {
    flex-grow: 1;
    line-height: 1.4;
    background-image: linear-gradient(to bottom, #97758f40 1px, #e5cfdf 1px);
    background-size: 1px 20px;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    border: 2px solid #97758f;
    margin: 0px 0px 60px 0px;
}

.comment-base {
    flex-grow: 1;
    line-height: 1.4;
    background-image: linear-gradient(to bottom, #97758f40 1px, #e5cfdf 1px);
    background-size: 1px 20px;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    border: 2px solid #97758f;
}



.post-content, .comment-content, .textareabg {
    background: url(https://i1.beon.fun/29/35/3529/22/1639422/2222.png) fixed, #d3b8c5;
    background-blend-mode: color-dodge;
border: 2px solid #97758f;
    padding: 20px;
    position: relative;
    min-height: auto;
border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
 
h1 {
font-size:0;
}

.post-title-user {
    font-size: 12px;
    font-weight: bold;
}

.post-title {
    display: block;
    max-width: fit-content;
    font-size: 22px;
    font-weight: bold;
    background-image: linear-gradient(180deg, transparent 1px, #281e311f 1px);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: 0.5em 35%;
    text-shadow: 1px 1px 0 #e3cede, 2px 1.4px 0 #d8bcca;
    border-radius: 59px;
}
 
 .post-content {
    margin-bottom: 65px !important;
}

.post-content:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -12px;
    margin-right: -28px;
    transform: rotate(0deg);
    display: block;
    background: url(https://i1.beon.fun/29/35/3529/91/1647091/f79d3db316b29f6782a20fdbffac6730-kopia-2-Photoroom.png) no-repeat;
    background-size: contain;
    height: 130px;
    width: 131px;
    filter: drop-shadow(1px 2px 2px #00000040) hue-rotate(255deg);
    pointer-events: none;
}
.post-content:before {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    margin-top: -20px;
    margin-left: -25px;
    transform: rotate(82deg);
    display: block;
    background: url(https://i1.beon.fun/29/35/3529/62/1647062/212.png) no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
     pointer-events: none;
    z-index: 0;
}



.quotation {
    border-left: 2px solid #97758f;
 background: #261c2e;
    font-weight: 500;
    color: #e0c3d1;
    font-size: 14.5px;
    padding-left: 5px;
    margin-left: 12px;
    margin-bottom: 0;
    padding-top: 0;
}


h2, .comment-box__message-partial.comment-content {
    font-size: 14px;
    color: #e0c3d1;
    margin: -40px 10px 20px;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    text-align: center;
}


#usermenu {
position:releative;
    border-radius: 10px;
 border:2px solid #97758f;
   font-weight: bold;
 background: #dbbfcc;
  z-index:1;
}


.small-text { 
font-size:0;
}
.small-text+div { 
    flex-direction: column; 
    align-items: flex-start;
}


.sign {
    color: rgb(151 117 143);
}


.post-avatar img {
    border: 2px solid #97758f;
    background: #97758f;
    border-radius: 5px 5px 0px 0px;
    box-shadow: -2px 2px 0px 2px #c4a9b8;
}
.post-avatar {
 position: relative;
}

.post-avatar:before {
    content: '';
    position: absolute;
    top: 0;
margin-top: 4px;
    margin-right: 70px;
    right: 0;
    bottom: 0;
    transform: rotate(204deg);
    display: block;
    background: url(https://i1.beon.fun/29/35/3529/15/1651115/999819bd70766360cc00fc83d19b1f39-kopia-2-Photoroom.png) no-repeat;
    background-size: contain;
    height: 100px;
    width: 65px;
    filter: drop-shadow(1px 3px 3px #00000060) hue-rotate(215deg);
    pointer-events: none;
}
.comment-content > div:first-child {
    max-width: fit-content;
    background-image: linear-gradient(180deg, transparent 1px, #281e311f 1px);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: 0 35%;
    text-shadow: 1px 1px 0 #e5cfdf, 2px 1.4px 0 #cdafc0;
    border-radius: 60px;
}

.user-drop-menu {
    margin-left: 0;
    margin-right: 0;
}

.post-title-date {
    font-size: 0.7rem;
    color: #97758f;
}

[class="post-base d-flex flex-column w-100"] [style="margin-top: 10px; clear: both;"] {
    margin: 0 0px 0px 0px;
    color: #bbbbbb;
    font-weight: 600;
    border: 2px solid #97758f;
}

.post-text.comment-text.flex-grow-1 {
    margin: 0px 0px 0px 0px;

}

/*---*/



/*4*/

a.navbar-brand  {
 transition: .3s;
}

a.navbar-brand:hover {
text-shadow:1px 1px 4px #eba3ae!important;
 transition: .3s;
}

.navbar-brand {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    font-weight: bold;
}

.m2 {
    font-size: 0;
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
padding-top: 7px;
    margin-left: 50px;
    color: #584b65 !important;
    letter-spacing: 5px;
    text-shadow: 1px 1px #eba3ae;
    font-weight: bold;
}

.bg-white {
    background-color: #ffffff00;
}

.shadow-sm {
    box-shadow: unset!important;
}
.pc-menu {
    display: none;
}

.hamburger-menu {
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    background: #584b65;
    border: 1px solid #eba3ae;
    box-shadow: 0px 0px 0px 1px #eba3ae;
    border-radius: 10px;
    padding-left: 4px;
    padding-top: 4px;
    z-index: 1;
    transition: 0.4s;
}
ul.menu__box {
    overflow: auto;
    height: 40%;
    padding: calc(16px - 3px) 16px;
    background: #dfc3d0;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 3px #b69caa, inset 3px 0px 0px 2px #b69caa;
    border-right: 1px solid #b69caa;
}
ul.menu__box::-webkit-scrollbar {
    width: 0px;
}
.menu__box {
    top: 75px;
    left: -100%;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    top: 75px;
    left: 1.5%;
}

a.menu__item {
    text-align: justify;
    line-height: normal;
    color: #3c3b3c;
    font-size: 14px;
    border-bottom: 1px solid #b49aa8;
    text-transform: uppercase;
}

.menu__item:hover {
    background-color: #281e31;
   transition: .0s;
    color:#97758f;
    text-shadow:unset;
    border-radius:2px;
    transition-duration: unset;
    transition: 0.2s;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    width: 25px;
    background: #ffc5cd;
    height: 2px;
}



/*---*/


.crumbs:before {
    content: '';
    position: absolute;
    right: 0;
    top: 20px;
    left: 0;
    margin: auto;
    margin-top: -69px;
    background: url(https://i1.beon.fun/29/35/3529/15/1647415/43.png) no-repeat;
    background-size: contain;
    height: 315px;
    width: 395px;
    pointer-events: none;
    z-index: -1;
}

 
.py-4 + .crumbs {
display:none;
}


div.crumbs {
    margin: auto;
    position: relative;
    padding-top: 67px;
}



.pagination a {
    color: #d3b9c6;
    background: #584b65;
    border: 1px solid #ffc5cd;
    box-shadow: 0px 1px 0px 0px #eba3ae;
    display: inline-block;
    line-height: 10px;
    padding-right: 8px !important;
    height: 20px;
    font-size: 10px;
    padding: 5px 9px;
    min-width: 20px;
    border-radius: 10px;
}
div.crumbs {
    text-align: center;
    font-size: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.crumbs a+span.crumb-item {
display: none;
}

span.crumb-item, .crumbs [href="/"] {
    color: #584b65!important;
letter-spacing: 5px;
    text-shadow: 1px 1px #eba3ae;
}

.crumbs a {
    font-size: 8px;
}

.crumbs span {
    font-size: 50px;
}

.crumb-item {
     font-size: 25px;
    letter-spacing: 5px;
    text-shadow: 1px 1px #eba3ae;
}

.pagination {
    float: none;
    padding-top: 0px;
    margin-top: -7px;
    display: block;
    font-size: 0px;
    letter-spacing: 2px;
}
.textarea-wrapper > textarea {
    line-height: 1.4;
    background-image: linear-gradient(to bottom, #ceb0c0 1px, #e5cfdf 1px);
    background-size: 1px 20px;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    border: 2px solid #97758f;
}

.datebg {
    margin: 10px 10px -10px;
    padding-left: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 10px;
    color: #281e31;
    background: linear-gradient(45deg, #dfc3d059, transparent);
    padding: 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.emj-dropdown-content {
     background: #281e31;
    border: 1px solid ##97758f;
}


[href="#footer"] { 
    font-size: 0px;
}


[href="#footer"]:before {
    content: '';
    position: fixed;
    background: url(https://i1.beon.fun/29/35/3529/62/1647062/212.png) no-repeat !important;
    background-size: contain !important;
    transform: rotate(45deg);
    filter: drop-shadow(0px 0px 2px #c0b1914d);
    height: 85px;
    width: 81px;
    right: 3.5%;
    bottom: 38%;
    z-index: 3;
    transition: .3s;
}

[href="#footer"]:hover:before {
    transform: rotate(90deg);
    transition: .3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: '';
    position: fixed;
    background: url(https://i1.beon.fun/29/35/3529/62/1647062/212.png) no-repeat !important;
    background-size: contain !important;
    transform: rotate(15deg);
    filter: drop-shadow(0px 0px 2px #c0b1914d);
    height: 85px;
    width: 81px;
    right: 3.5%;
    bottom: 64%;
    z-index: 3;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before {
    transform: rotate(0deg);
    transition: .3s;
}
 

.avatar-select-list::-webkit-scrollbar-track {
    border: 7px solid #dabecb;
    background-color: #281e31;
}
.avatar-select-list::-webkit-scrollbar-thumb {
   border: 7px solid #dabecb;
    background-color: #281e31;
 
}


::-webkit-scrollbar {
    background-color: #29292b;
}
::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}
::-webkit-scrollbar-thumb {
    border: 7px solid #28282a;
    background-color: #dec2d0;
    min-height: 24px;
    min-width: 24px;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    border: 7px solid #29292b;
    background-color: #97758f;
}


.avatars-fullscreen-link-wrapper {
    background: #dabecb;
}
 #avatars-fullscreen-modal .modal-content {
    max-height: 90vh;
    width: 60%;
    margin: auto;
}

.avatar-select-list {
    background: transparent;
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
    margin: 2px;
    filter: grayscale(0.8);
 border: 1px solid #97758f;
    transition: 0.3s;
}

 
.avatar-select-label-selected {
  border: 1px solid #281e31;
    filter: grayscale(0);
    transition: 0.3s;
}



div#newpostform br,div#newpostform br+br+p {
    display: none;
}
 
span.emj-dropdown {
    padding: 0px;
}
form.messageform p {
    margin-bottom: 0px;
} 

.container-fluid {
    padding-left: 0px;
}

.container-fluid .row {
    margin-left: -15px!important;
}

.container-fluid.mt-5 {
    margin-top: 0px !important;
    padding-left: 0px!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 20px;
}


input, select, .btn-outline-primary, .textareabg input[type="submit"], .textareabg input[type="button"], .left-menu-text input[type="submit"], button.btn.btn-secondary, button.btn.btn-primary, .left-menu [type="submit"], .left-menu [onclick="markUnreadDialog()"], input.w-100.input-tags, input.w-100.input-mood, input.w-100.input-music, input.w-100.input-want {
    background: #dabecb;
    border: 1px solid #97758f;
    color: #281e31;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
}

input:hover, select:hover,
.btn-outline-primary:hover,
.textareabg input[type="submit"]:hover,
.textareabg input[type="button"]:hover,
.left-menu-text input[type="submit"]:hover, 
button.btn.btn-secondary:hover, 
button.btn.btn-primary:hover,
.btn-outline-primary:hover
 .left-menu [type="submit"]:hover, .left-menu [onclick="markUnreadDialog()"]:hover,
input.w-100.input-tags:hover, input.w-100.input-mood:hover,
input.w-100.input-music:hover,
input.w-100.input-want:hover {
    background: #efefef;
    color: #161616;
    transition: 0.4s;
}


.crumbs span {
  font-family: "Great Vibes", cursive;
    font-weight: bold;
}
 


.crumbs [href="/p"] span {
font-size:0;
}

.tag_bar > span {
    display: inline-block;
    min-width: 15px;
}

.tag_bar > span:hover {
    color:#97758f;
  transition: 0.3s;
}

.modal-content div {
    color: #d3b9c6;
}

 .modal-body {
    color: #d3b9c6;
    position: relative;
}

.modal-content {
    background: #281e30;
    border: 2px solid #d3b9c6;
    font-weight: bold;
}
.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
.user_footer, .div_user_img {
    border:2px solid #d3b9c6;
} 

.alert-success {
    color: #d3b9c6;
    background-color: #281e30;
    border-color: #d3b9c6;
}



/*плеер*/

div#beon-fnplayer {
    padding: 10px;
    background: #281e31;
    border-radius: 20px;
}

 #fnplayer-slider > span { 
font-size:0px!important;  
} 

#fnplayer-slider {
    height: 6px;
    background-color: #dbbfcc !important;
}

#fnplayer-slider-inner {
    height: 6px;
    width: 0%;
    background-color: #97758f;
}

#fnplayer-volume {
    height: 6px;
    background-color: #281e31;
}

#fnplayer-volume-inner {
    height: 6px;
    width: 100%;
    background-color: #dcbfcd !important;
    border: 1px solid #97758f;
}

#fnplayer-volume-mask {
border:none!important;
}

#fnplayer-stop {
    border: 0;
    background: #d9bdcb !important;
    border-radius: 10px;
    margin-bottom: 1px;
}

#fnplayer-play {
    border-color: transparent transparent transparent #d9bdcb !important;
    margin-bottom: 1px;
}

/*---------*/


@media (max-width: 1440px) {
main.py-4, .content {
width: 100%!important;
}
[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
[src="/i/user.png"],
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
.post-content.blog_total_counter,
 .user:before, img.flag, div#app:before,  div#app:after, main.py-4:before {
display:none!important;
}
.left-menu {
        width: 40% !important;
        margin: 0 auto !important;
    }

}

@media (max-width: 1024px)  {
main.py-4, .content {
width: 100%!important;
}

.left-menu {
        width: 92% !important;
        margin: 0 auto !important;
    }

[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
[src="/i/user.png"],
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
.post-content.blog_total_counter,
 .user:before, img.flag, div#app:before,  div#app:after, main.py-4:before {
display:none!important;
}
}


@media  (max-width: 840px), (max-width: 700px) {
 
    .blog__about {
        margin-top: 22px !important;
    }

 .blog__about:after {
 
    top: 10px!important;
}

.crumbs span {
    font-size: 55px!important;
}
.crumbs a {
    font-size: 5px!important;
}

div.crumbs {
    margin-top: 25px!important;
   padding-top: 60px!important;
}

.crumbs:before {
 width: 345px!important;
    margin-top: -45px!important;
    height: 240px!important;
  
}

    .left-menu > div.mobile_open_menu > h3 {
        color: #ebcddb!important;
    }

.row.w-100.mt-3 {
    padding-top: 7px !important;
}

#avatars-fullscreen-modal .modal-content {
    width: 100%!important;
}


.fas, .far {
    font-size: 0.9rem!important;
    padding: 0rem!important;
}

.tag_bar > * {
    padding: 0rem!important;
}

 .col-12  {
    font-size: 0.80rem;
}
span.comments_count span::before {
    font-size: 12px!important;
}

span.comments_count a {
    font-size: 14px!important;
margin-right: -10px!important;
}

    div.left-menu {
        margin-top: -100px !important;
        /* padding-top: 0px !important; */
    }

.post-avatar:before {
    margin-top: -2px!important;
    margin-right: 48px!important;
    height: 80px!important;
    width: 65px!important;
}

.post-avatar img {
    width: 80px!important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
  height: 45px!important;
    width: 41px!important;
    right:2.5%!important;
    bottom:15%!important;
}

[href="#footer"]:before {
    height: 45px!important;
    width: 41px!important;
    right: 2.5%!important;
    bottom: 8%!important;
}

main.py-4, .content {
width: 100%!important;
}

.left-menu {
        width: 92% !important;
        margin: auto !important;
    }

main.py-4 {
    padding: 0px!important;
margin: 120px auto 0!important;
}
    main.py-4:after {
        margin-right: 0px !important;
        height: 300px !important;
        width: 160px !important;
        margin-top: -108px !important;
    }

.content:before {
    height: 100px!important;
    width: 100px!important;
}


[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
[src="/i/user.png"],
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
.post-content.blog_total_counter,
 .user:before, img.flag, div#app:before,  div#app:after, main.py-4:before {
display:none!important;
}

}
