@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');



/*1*/

* {
font-family: "Play", serif;
}

div#footer, .footer__infolinks.p-1, div#app+div+[style="text-align: center"], div#page__rendertime.p-1, .text-center {
font-size:0;
}
div#app {
    padding: 0;
}
body.bodybg {
     background:url(https://i.postimg.cc/HkhvPz4Z/tumblr-adcad89e8a50ef13493239604c88330a-7b1f703f-2048.png) fixed;
}


.content {
    position: relative;
}


main.py-4 {
    width: 80%;
    margin: auto;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

a, div {
    color: #000;
transition: 0.7s;
}
a:hover, span[data-target="#deleteconfirmmodal"]:hover {
transition: 0s;
color: #f5a000;
    text-decoration: unset;
}

 [onclick="return showSpoiler(this)"] {
color:#f5a000;
    transition: .3s;
}

[onclick="return showSpoiler(this)"]:hover {
   color:#000;
    transition: .3s;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: flex-end;
}

.row.w-100 {
    position: sticky;
    top: 100%;
    margin: auto;
}
.comment-text+div {
    position: sticky;
    top: 100%;
    padding: 4px 3px 0;
}

span.comments_count span {
font-size:0;
}

span.comments_count span:before {
content: "\f075";
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    padding-left: 3px;
}

.comments_count a {
    font-size: 12px!important;
    padding-left: 5px;
    font-weight: 900;
}
.fa-retweet::before, .fa-bookmark::before, .fa-exclamation-triangle::before, .fa-quote-left::before, span[data-target="#deleteconfirmmodal"]  {
    color: #000;
   padding: 3px;
   transition: .5s;
}
.fa-heart:hover:before, .fa-retweet:hover:before, .fa-bookmark:hover:before, .fa-exclamation-triangle:hover:before, .fa-quote-left:hover:before  {
    color: #f5a000;
   cursor:pointer;
   transition: .2s;
}

 [class="post-opt col-12 col-md-6"] span, .post-opt a, [onclick="deleteComment(this)"]  {
    color: #000;
   transition: .3s;
}

 [class="post-opt col-12 col-md-6"] span:hover,  .post-opt a:hover, [onclick="deleteComment(this)"]:hover {
    color: #f5a000;
   transition: .3s;
}


 .liked .fas, .reposted .fas, .bookmarked .fas {
    color: #f5a000!important;
}
 .post-opt [style="font-size: 1rem;"] {
    font-size: 13px!important;
}

.post__mood, .post__musicplay, .post__wish, .post__tags-list {
    color: #b7b7b7 !important;
    text-transform: lowercase;
}

a.tag {
    font-size: 11px;
    padding-right: 5px;
}
 .post__tags-list  {
font-size:0;
}
  .post__tags-list a {
    font-size: 10px;
}  
.tag:before {
    content: '#';
    font-size: 12px;
    color: #f5a000;
}
 span.post-title-date+span  {
font-size:0px;
}

[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
.pagination-goto,
.left-menu__friends,
.blog__last-comments,
.left-menu__unread-message img.flag, .post-title-date+a, [class="flag"], .user:before, .left-menu-text img,
.community__moders, .community__members {
display:none;
}

::selection {
    color: #ffffff;
    background: #6b6b6b;
}


/*-----*/



/*2*/

.post-title-user {
    font-size: 14px;
    color: #f5a000;
transition: 0.7s;
}
.post-title-user:hover {
    color: #fff;
}
.post-title-date {
    font-size: 12px;
    color: #fdfdfd;
}
.post-text, .comment-text {
    flex-grow: 1;
    padding-left: 10px;
}

.post-avatar img {
    border: 5px solid #ffffff;
    box-shadow: -1px 1px 2px 1px #c5c5c5;
    background: white;
    position: relative;
    z-index: 0;
}
.fa-lock-open:before {
    display:none;
}
.sign {
    position: relative;
    color: #f5a000;
    border: 5px solid #ffffff;
    box-shadow: -1px 3px 2px 1px #c5c5c5;
    background: white;
    z-index: 1;
}

.post-content.blog_total_counter h2 {
    font-size: 0px;
}

.quotation {
    border-left: 4px double #f5a000;
    color: #000000;
    background: linear-gradient(91deg, #21252933 20%, transparent 62%);
    padding-left: 10px;
    margin-left: 15px;
    margin-bottom: 0;
    line-height: 1.4;
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold;
}

h2, .comment-box__message-partial.comment-content {
    background: #fff;
    border: 1px solid #eee;
    margin-top: -12px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 17px;
    text-transform: lowercase;
    font-weight: bold;
    text-align: center;
    color: #f5a000;
}
.comment-box__message-partial.comment-content:before {
display:none;
}
.user-drop-menu {
    margin-left: 0;
    margin-right: 0;
}
#usermenu {
    border-radius: 5px;
    border: 2px solid #f5a000;
  line-height: 1.3;
    background-image: linear-gradient(to bottom, #f9f9f9 1px, #ffffff 1px);
    background-size: 1px 20px;
    box-shadow: inset 0 0px 0px 20px rgb(255 255 255);
}


.post-content .post-avatar {
    margin-left: 5px!important;
}

.comment-content .post-avatar {
    margin-left: 2px;
}

.comment-content:before {
    content: '';
    position: absolute;
    background: url(https://i.postimg.cc/rmkfVfxz/Pngtree-white-paper-clips-5990757.png) no-repeat;
    background-size: contain;
    left: -10px;
    margin-top: -9px;
    width: 70px;
    height: 70px;
    transform: rotate(85deg);
    filter: drop-shadow(-1px 1px 0px #666);
    z-index: 1;
}


 .comment-content > div:first-child {
    background: #222222;
    margin: -12px -15px 0px 1px;
    color: #f5a000;
    padding: 3px 22px !important;
    box-shadow: -1px 1px 2px 1px #c5c5c5;
}
.post-content.post-page .post-header:before {
display:none;
}
[style="display: flex; justify-content: space-between;"] a {
    color: #f5a000;
transition: 0.7s;
}
[style="display: flex; justify-content: space-between;"] a:hover {
    color: #fff;
}
.small-text { 
font-size:0;
}
.small-text+div { 
    flex-direction: column; 
    align-items: flex-end;
 
}
h1, .small-text+div, .small-text   {
    background: #222222;
    margin: -12px -15px 0px 1px;
    color: #f5a000;
    padding: 3px 22px !important;
    box-shadow: -1px 3px 2px 1px #c5c5c5;
}

.post-content > div:first-child {
    background: #222222;
    margin: -12px -15px 0px 1px;
    color: #f5a000;
    padding: 3px 22px !important;
    box-shadow: -1px 1px 2px 1px #c5c5c5;
}

.post-title, h1 {
    font-size: 24px;
    color: #f5a000;
    text-decoration: unset;
    z-index: 1;
transition: 0.7s;
}
.post-title {
    position: relative;
}
.post-title:hover {
    color: #fff;
}


.post-row, .comment-row {
    display: flex;
    line-height: 1.4;
    background-image: linear-gradient(to bottom, #f9f9f9 1px, #ffffff 1px);
    background-size: 1px 20px;
    box-shadow: inset 0 0px 0px 20px rgb(255 255 255);
}
.post-content, .comment-content {
    padding: 12px;
   min-height: auto;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #eee;
box-shadow: .5px 2px 8px rgba(0, 0, 0, 0.07);
margin: 10px 10px 20px;
    overflow: hidden;
}


.post-header:before {
    content: '';
    position: absolute;
    background: url(https://i.postimg.cc/rmkfVfxz/Pngtree-white-paper-clips-5990757.png) no-repeat;
    background-size: contain;
    left: -6px;
    margin-top: 15px;
    width: 70px;
    height: 70px;
    transform: rotate(85deg);
    filter: drop-shadow(-1px 1px 0px #666);
    z-index: 1;
}

.post-content.blog_total_counter {
    font-size: 0;
    background: url(https://i.pinimg.com/originals/ff/84/49/ff8449b7ba9fc47a6f1e41750027b39d.png) no-repeat center;
    height: 450px;
    background-size: cover;
    border-bottom: 5px solid #222;
    filter: contrast(1.2);
box-shadow: unset;
}

/*-------*/

/*3*/
.left-menu__unread-message img {
    margin-top: -8px;
    width: 70px;
    height: 70px;
    border: 2px solid #ffffff;
    box-shadow: -1px 1px 2px 1px #c5c5c5;
    background: white;
    object-fit: cover;
    transform: rotate(4deg);
    float: inline-start;
}
.left-menu__user-notification.left-menu__unread-message img+p {
    overflow: auto;
    max-height: 50px;
    margin-top: 8px;
}

.text-center img {
display:none;
}

.blog__about h3.left-menu-text {
    font-size: 0;
    padding: 41px;
}

.blog__about {
position: relative;
}


.left-menu {
    min-width: 300px;
    width: 20%;
}
h3.left-menu-text {
    font-size: 20px;
    padding: 24px;
    background: #222 !important;
}

.blog__about:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    filter: grayscale(1) contrast(1.4);
    margin-top: -90px;
    width: 285px;
    height: 115px;
    background: url(https://i.postimg.cc/GtKksmpB/1.png) no-repeat center, transparent;
    background-size: cover;
    z-index: 1;
}
 

.left-menu > div {
    margin-top: 75px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #eee;
    line-height: 1.5em;
    padding: 8px;
    background-image: linear-gradient(to bottom, #f9f9f9 1px, #ffffff 1px);
    background-size: 1px 22px;
    box-shadow: .5px 2px 8px rgba(0, 0, 0, 0.07), inset 0 0px 0px 20px rgb(255 255 255);
}
div.left-menu {
    margin-right: 120px;
    border: none;
}

.blog__about h3.left-menu-text:before {
    content: ' ';
    position: absolute;
        position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 190px;
    height: 95px;
    margin-top: -50px;
    background: url(https://i.postimg.cc/ZKqx5zLD/6.png) no-repeat top, transparent;
    background-size: contain;
    z-index: 0;
}


.blog__gifts:before  {
    content: '';
    position: absolute;
  margin-top: -31px;
    margin-left: 204px;
    width: 100px;
    height: 100px;
    background: url(https://i.postimg.cc/JhfYv1pw/8.png) no-repeat center, transparent;
    background-size: contain;
    filter: grayscale(1) drop-shadow(0px -1px 2px #00000040);
    transform: rotate(342deg);
}

h3.left-menu-text {
    font-size: 20px;
    padding: 24px;
    color: #f5a000;
    background: #222 !important;
    text-transform: uppercase;
    font-weight: bold;
}

.blog__tags:before {
    content: '';
    position: absolute;
    margin-top: -44px;
    margin-left: 185px;
    width: 120px;
    height: 120px;
    background: url(https://i.postimg.cc/15CjQxBz/2.png) no-repeat center, transparent;
    background-size: contain;
    filter: grayscale(1) drop-shadow(0px -1px 2px #00000040) contrast(1.2);
    transform: rotate(342deg);
}
 
.blog__iread:before {
    content: '';
    position: absolute;
    filter: grayscale(1);
    margin-top: -44px;
        margin-left: -7px;
    width: 120px;
    height: 120px;
    background: url(https://i.postimg.cc/nLYrX1CC/3.png) no-repeat center, transparent;
    background-size: contain;
    filter: drop-shadow(0px -1px 2px #00000040);
    transform: rotate(342deg);
}

.blog__iread h3.left-menu-text {
    text-align: center;
    padding-left: 75px;
}
.blog__read-me h3.left-menu-text {
    text-align: center;
    padding-left: 75px;
}
.blog__read-me:before {
    content: '';
    position: absolute;
    margin-top: -42px;
    margin-left: -19px;
    width: 120px;
    height: 120px;
    background: url(https://i.postimg.cc/J0wRFx0N/11.png) no-repeat center, transparent;
    background-size: contain;
    filter: drop-shadow(0px -1px 2px #00000040);
    transform: rotate(0deg);
}


[class="left-menu__user-notification left-menu__unread-message"]:before {
    content: '';
    position: absolute;
    margin-top: -28px;
    margin-left: 58px;
    width: 100px;
    height: 100px;
    background: url(https://i.postimg.cc/dQzKfXzg/7.png) no-repeat center, transparent;
    background-size: contain;
    filter: grayscale(1) drop-shadow(0px -1px 2px #00000040) contrast(1.5);
    transform: rotate(0deg);
}
 
[class="notifications__comments  left-menu__user-notification  "]:before {
    content: '';
    position: absolute;
    margin-top: -36px;
    margin-left: -18px;
    width: 100px;
    height: 100px;
    background: url(https://i.postimg.cc/vHfdwhyT/9.png) no-repeat center, transparent;
    background-size: contain;
    filter: grayscale(1) drop-shadow(0px -1px 2px #00000040) contrast(1.5);
    transform: rotate(7deg);
}
[class="notifications__comments  left-menu__user-notification  "] h3.left-menu-text {
padding-left:88px;
}

 
[class="left-menu__user-notification left-menu__unread-notifications"]:before {
    content: '';
    position: absolute;
    margin-top: -36px;
    margin-left: 188px;
    width: 100px;
    height: 100px;
    background: url(https://i.postimg.cc/V5y4FXZH/4.png) no-repeat center, transparent;
    background-size: contain;
    filter: grayscale(1) drop-shadow(0px -1px 2px #00000040) contrast(1.5);
    transform: rotate(-7deg);
}

[class="notifications__comments  left-menu__user-notification  "] h3.left-menu-text, [class="left-menu__user-notification left-menu__unread-notifications"]  h3.left-menu-text, [class="left-menu__user-notification left-menu__unread-message"]  h3.left-menu-text  {
font-size:13px;
}

 [class="left-menu__user-notification left-menu__unread-message"] .post-title-date {
    color: #000;
}
[class="notifications__comments  left-menu__user-notification  "] p {
    margin-top: -2px;
}

[class="left-menu__user-notification left-menu__unread-notifications"], [class="notifications__comments d-none "] {
    margin-bottom: 115px ;
 
}

/*---------*/

/*4*/

.ml-auto {
margin-right: auto;
margin-left: unset!important;
}

  .navbar-brand  {
    color: #f5a000!important;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navbar-brand:hover  {
    color: #fff!important;
transition: 0.5s;
}
.navbar-brand:before {
    content: ' ';
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    background: url(https://i.postimg.cc/Df1zDx4j/2fdfbad….png) no-repeat top, transparent;
    background-size: contain;
    filter: drop-shadow(4px 0px 0px #f5a000);
transition: 0.2s;
}


.navbar-brand:hover:before {
    filter: drop-shadow(0px 0px 5px #f5a000);
transition: 0.5s;
}

ul ul {
    color: #fff;
}
ul ul:hover {
    color: #f5a000 ;
}
::marker {
     font-size:10px;
}

ul.navbar-nav.ml-auto > div > table > tbody > tr:nth-child(4) > td:nth-child(5) > ul > li > a > span {
    color: #fff!important;
}


.m2 {
    font-size: 0;
    color: #666666;
}

.bg-white {
    background-color: #222;
}
.pc-menu a {
    font-size: 0.7rem;
    color: #f5a000 !important;
    text-transform: uppercase;
    font-weight: 900;
transition: 0.5s;
}

.pc-menu a:hover {
transition: 0s;
color:#fff!important;

}


/*-----*/


.crumbs {
    margin: 175px;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-size: 16%;
    text-transform: uppercase;
}

.datebg {
    display: block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: 11px;
    margin-bottom: -13px;
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 1px;
    font-weight: bold;
    background: #f5a000;
    font-size: 13px;
    border-radius: 3px !important;
    transform: rotate(2deg);
}


 [href="#footer"] { 
    font-size: 0px;
}

[href="#footer"]:before {
    content: '\1A06';
    font-size: 28px;
    width: 35px;
    height: 35px;
    position: fixed;
    color: #f5a000;
    right: 20px;
    bottom: 15px;
    border: 1px solid #dddddd;
    background: #ffffff;
       line-height: 1;
    padding-left: 6px;
 box-shadow: 0px 0px 5px 0px #00000042;
    border-radius: 50%;
    z-index: 7;
    transition: 0.3s;
}
[href="#footer"]:hover:before { 
color: #000!important;
background:#f5a000;
  transition: 0.3s;
}
[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: '\1A08';
    font-size: 28px;
    position: fixed;
    width: 35px;
    height: 35px;
    color: #f5a000;
    border: 1px solid #dddddd;
    background: #ffffff;
    line-height: 0.8;
    padding-left: 6px;
    right: 20px;
    bottom: 67px;
    border-radius: 50%;
    z-index: 8;
    box-shadow: 0px 0px 5px 0px #00000042;
    transition: 0.3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before { 
color: #000!important;
background:#f5a000;
  transition: 0.3s;
}



.tag_bar {
    margin-top: 3px;
    margin-bottom: 3px;
}

.tag_bar > span {
    display: inline-block;
    min-width: 15px;
 
}

.tag_bar > span:hover {
    color:#f5a000;
  transition: 0.3s;
}

.emj-dropdown-content {
    background: #fff;
    border: 1px solid #222;
}
.modal-body {
    color: #000;
    position: relative;
}

.modal-content {
    background: #fff;
    border: 2px solid #222;
    font-weight: bold;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
.user_footer, .div_user_img {
    border: 2px solid #222;

} 


div#newpostform br,div#newpostform br+br+p {
    display: none;
}
 
span.emj-dropdown {
    padding: 0px;
}
form.messageform p {
    margin-bottom: 0px;
} 

.container-fluid {
    padding-left: 0px;
}

.container-fluid .row {
    margin-left: -15px!important;
}

.container-fluid.mt-5 {
    margin-top: 0px !important;
    padding-left: 0px!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
}

.alert-success {
    font-size: 15px;
    text-align: center;
    color: #f5a000;
       background: #222;
    border: 1px solid;
margin-top:10px;
border-radius:unset;
    border-color: #222;
    font-weight: 900;
}

input, select, .btn-outline-primary, .textareabg input[type="submit"], .textareabg input[type="button"], .left-menu-text input[type="submit"], button.btn.btn-secondary, button.btn.btn-primary, .left-menu [type="submit"], .left-menu [onclick="markUnreadDialog()"],input.w-100.input-tags, input.w-100.input-mood,
input.w-100.input-music,
input.w-100.input-want {
    background: #fff;
    border: 2px solid #222;
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    cursor: pointer;
    transition: 0.4s;
}

input:hover, select:hover,
.btn-outline-primary:hover,
.textareabg input[type="submit"]:hover,
.textareabg input[type="button"]:hover,
.left-menu-text input[type="submit"]:hover, 
button.btn.btn-secondary:hover, 
button.btn.btn-primary:hover,
 .left-menu [type="submit"]:hover, .left-menu [onclick="markUnreadDialog()"]:hover,
input.w-100.input-tags:hover, input.w-100.input-mood:hover,
input.w-100.input-music:hover,
input.w-100.input-want:hover {
    color: #f5a000;
    transition: 0.4s;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    background-color: #000;
    accent-color: #f5a000;
}
.avatars-fullscreen-link-wrapper {
    background: #fff;
}
 #avatars-fullscreen-modal .modal-content {
    max-height: 90vh;
    width: 60%;
    margin: auto;
}
 

.avatar-select-list {
    background: transparent;
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
    margin: 2px;
    border: 2px solid #666;
    transition: 0.3s;
}
.avatar-select-label-selected {
  border: 2px solid #f5a000;
    transition: 0.3s;
}

textarea {
    line-height: 1.4;
    background-image: linear-gradient(to bottom, #f9f9f9 1px, #ffffff 1px);
    background-size: 1px 20px;
    box-shadow: inset 0 0px 0px 20px rgb(255 255 255);
    min-width: 300px;
    min-height: 100px;
    padding: 0px 10px;
}
.textareabg {
        box-shadow: .5px 2px 8px rgba(0, 0, 0, 0.07);
    padding: 12px !important;
    min-height: auto;
    border-radius: 4px;
      background:#fff;
    border: 1px solid #eee;
    margin: 10px 10px 20px;
}

::-webkit-scrollbar {
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    border: 7px solid #ffffff;
    background-color: #f5a000;
    min-height: 24px;
    min-width: 24px;
}
::-webkit-scrollbar-track {
    border: 7px solid #ffffff;
    background-color: #212529;
}

 /*плеер*/

div#beon-fnplayer {
    padding: 0px;
    background: transparent;
    height: 13px;
}

#fnplayer-slider > span { 
font-size:0px!important;  
} 

#fnplayer-slider {
    border: 1px solid #f5a000;
    background-color: #000000 !important;
    height: 7px;
}
#fnplayer-slider-inner {
    height: 5px;
    width: 0%;
    background-color: #f5a000;
}
#fnplayer-volume-inner {
    width: 100%;
    background-color: #000000 !important;
    border: 1px solid #f5a000;
    height: 7px;
}
#fnplayer-volume {
    background-color: #f5a000;
    height: 7px;
}

#fnplayer-volume-inner {
    width: 100%;
    background-color: #000000!important;
border: 1px solid #f5a000;
}

#fnplayer-volume-mask {
border:none!important;
}

 #fnplayer-stop {
    display:none;
}

#fnplayer-play {
    border-color: transparent transparent #00000000 #000000 !important;
    margin-right: -6px;
    box-shadow: -2px 0px #f5a000;
    margin-bottom: 1px;
}

/*-----------*/

@media (max-width: 1200px) {

 

.pc-menu {
    display: none;
}
 
.menu__box {
   background:#222;
    margin-top: 55px!important;
    width: 70%!important;
    height: 70%!important;
border: 1px solid #ffa300;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #f5a000;
}

    .menu__item {
        color: #f5a000;
        text-align: center;
        font-size: 16px;
    }
 .left-menu {
    width: 96%!important;
margin:0 auto!important;
}
}


 
@media (max-width: 768px), (max-width: 700px) {

 

#avatars-fullscreen-modal .modal-content {
    width:100%!important;

}

.fas, .far {
    font-size: 0.9rem!important;
    padding: 0rem!important;
}

.tag_bar > * {
    padding: 0rem!important;
}

 .col-12  {
    padding-left: 8px; 
    font-size: 0.80rem;
}
span.comments_count span::before {
    font-size: 12px!important;
}

span.comments_count a {
    font-size: 14px!important;
margin-right: -20px!important;
}
[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before, [href="#footer"]:before {
    font-size: 32px!important;
    padding-left: 2px!important;
    overflow: hidden!important;
}

.menu__box {
   background:#222;
    margin-top: 55px!important;
    width: 70%!important;
    height: 70%!important;
border: 1px solid #ffa300;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #f5a000;
}

    .menu__item {
        color: #f5a000;
        text-align: center;
        font-size: 16px;
    }

     .left-menu > div.mobile_open_menu > h3 {
        color: #f5a000;
        font-weight: bold;
        text-align: center;
    }
.left-menu > div {
    margin-top: 45px!important;
}
    .left-menu > div.left-menu__user-notification {
        display: block;
        margin-top: 0 !important;
        margin-bottom: 90px !important;
    }
.crumbs {
    margin: 0!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
[class="left-menu__user-notification left-menu__unread-notifications"], [class="notifications__comments d-none "] {
    margin-bottom: 0!important;
}
main.py-4  {
    width: 100%!important;
}
 .left-menu {
    width: 96%!important;
margin:0 auto!important;
}
.post-content.blog_total_counter {
box-shadow: .5px 2px 8px rgba(0, 0, 0, 0.07) !important;
    height: 300px!important;
    border: 1px solid #d7d7d7!important;
border-bottom: 5px solid #222!important;
}

.post-title, h1 {
    display: block;
 white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-avatar img {
    width: 80px!important;
}
.post-header:before {
    left: 2px!important;
    margin-top: 51px!important;
    width: 55px!important;
    height: 55px!important;
}

    .comment-content:before {
        left: -2px !important;
        margin-top: -4px !important;
        width: 57px !important;
        height: 57px !important;
    }

[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
.pagination-goto,
.left-menu__friends,
.blog__last-comments,
.left-menu__unread-message img.flag, .post-title-date+a, [class="flag"], .user:before, .left-menu-text img,
.community__moders, .community__members {
display:none!important;
}

}
