@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*1*/

* {
font-family: "Fira Sans", sans-serif;
 outline: 0;
}

.post-title, h1 {
font-family: "Alumni Sans SC", sans-serif;
}

div#app:before {
    content: '';
    display: block;
    height: 450px;
    padding: 0;
    background: url(https://i.postimg.cc/9CyxSq67/d-Cd-V5r-SYdjk.jpg) no-repeat center top fixed;
    background-size: cover;
    filter: grayscale(1) brightness(1);
    border: 2px solid #1e1e1e;
    border-bottom: none;
    box-shadow: inset 0px 0px 0px 3px #000000;
}

div#app {
    padding: 0;
    background: #040404;
}

div#footer, .footer__infolinks, #page__admincontact, div#page__rendertime, .text-center {
font-size:0;
}


body {
    background-color: #040404;
}
.bottombg:before {
    content: '';
    display: block;
    height: 250px;
    padding: 0;
    background: url(https://i.postimg.cc/9CyxSq67/d-Cd-V5r-SYdjk.jpg) no-repeat center top fixed;
    background-size: cover;
    filter: grayscale(1) brightness(1);
    border: 2px solid #1e1e1e;
    box-shadow: inset 0px 0px 0px 3px #000000;
}

a, div {
color:#939393;
text-decoration: none!important;
transition: 0.2s;
}
a:hover, span[data-target="#deleteconfirmmodal"]:hover {
    text-decoration: unset!important;
    color:#fff;
transition: 0.2s;
}
.row {
    align-items: flex-end;
}
.row.w-100 {
    position: sticky;
    top: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment-text+div {
    position: sticky;
    top: 100%;
    padding: 3px;
}

.tag:before {
    content: '#';
    font-size: 12px;
    color: #333;
}
a.tag {
    font-size: 11px;
    padding-right: 5px;
}
 
.post__mood, .post__musicplay, .post__wish, .post__tags-list {
    color: #939393!important;
}

 [onclick="return showSpoiler(this)"] {
color:#fff!important;
    transition: .3s;
}

[onclick="return showSpoiler(this)"]:hover {
   color:#939393!important;
    transition: .3s;
}
  .post-text a, .comment-text a {
color:#939393;
    transition: .3s;
}

  .post-text a:hover, .comment-text a:hover {
   color:#fff;
    transition: .3s;
}

.liked .fas, .reposted .fas, .bookmarked .fas {
    color: #fff!important;
}
 .post-opt [style="font-size: 1rem;"] {
    font-size: 13px!important;
}
  
.fa-retweet::before, .fa-bookmark::before, .fa-exclamation-triangle::before, .fa-quote-left::before, span[data-target="#deleteconfirmmodal"]  {
    color: #939393;
   padding: 3px;
   transition: .5s;
}
.fa-heart:hover:before, .fa-retweet:hover:before, .fa-bookmark:hover:before, .fa-exclamation-triangle:hover:before, .fa-quote-left:hover:before  {
    color: #fff;
   cursor:pointer;
   transition: .2s;
}

 [class="post-opt col-12 col-md-6"] span, .post-opt a, [onclick="deleteComment(this)"]  {
    color: #939393;
   transition: .3s;
}

 [class="post-opt col-12 col-md-6"] span:hover,  .post-opt a:hover, [onclick="deleteComment(this)"]:hover {
    color: #fff;
   transition: .3s;
}

::selection {
    color: #000;
    background: #939393;
}

[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
[src="/i/user.png"],
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
.post-content.blog_total_counter,
 .user:before {
display:none;
}

span.post-title-date+span {
font-size:0px;
}
div#footer:before {
    content: 'Вопросы/помощь c дизайном - solarinoo.beon.fun/';
    display: block;
    font-size: 10px;
    text-align: center;
    margin-top: 0px;
    color: #1e1e1e;
}
/*-----------*/



/*2*/

.ml-auto {
margin-right: auto;
margin-left: unset!important;
}


.pc-menu a {
    letter-spacing: 0.5px;
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #565656 !important;
    transition: 0.5s;
}

.pc-menu a:hover {
transition: 0s;
color:#fff!important;

}

.m2 {
    font-size: 8px;
    color: #ffffff;
    letter-spacing: 2.5px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: -4px;
}
 
a.navbar-brand:before {
    content: 'https://beon.fun/';
    font-size: 16px;
    background: linear-gradient(270deg, #2f2f2f 28%, transparent 0%, #ffffff 8%, #fff 25%, #ffffff 55%, #2f2f2f 25%, #2f2f2f 70%, #2f2f2f 71%, #2f2f2f 59%, transparent 59%, #2f2f2f 60%, #2f2f2f 60%, #2f2f2f 79%, transparent 79%, transparent 80%, #2f2f2f 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg-white {
    position: sticky;
    top: 0;
    background-color: #000000;
    border: 2px solid #1e1e1e;
    z-index: 1;
}

[style="color: red; font-weight: bold;"] {
color:#fff!important;
}


/*-----------*/




/*3*/

div.left-menu {
    border: none;
}

 h3.left-menu-text {
font-family: "Alumni Sans SC", sans-serif;
    font-size: 25px;
    background: transparent !important;
    border-bottom: 1px solid #121212;
    transition: 0.4s;
}

h3.left-menu-text:before {
content: ' ';
    float: left;
  margin-top: 13px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    transition: 0.2s;
}
h3.left-menu-text:hover:before {
content: ' ';
    float: left;
    margin-top: 13px;
    width: 3px;
    height: 3px;
    margin-right: 3px;
    background: #fff;
    border-radius: 100%;
    transition: 0.2s;
}
 
.blog__about h3.left-menu-text {
    color: #fff;
}
.blog__about  [href="/design/disable"] {
color: #fff!important;
}


.left-menu__friends.left-menu__friends_offline,
.blog__read-me, .blog__tags,
 .blog__last-comments, 
.blog__gifts,.blog__iread,
 .community__members, 
.community__moders, 
.notifications__comments.left-menu__user-notification,
.left-menu__user-notification.left-menu__unread-notifications  {
    max-height: 35px;
    overflow: hidden;
    transition: 0.1s;
    transition-delay: 5s; 
}

.left-menu__friends.left-menu__friends_offline:active,
.blog__read-me:active,
.blog__tags:active,
.blog__last-comments:active,
.blog__gifts:active,.blog__iread:active,
.community__members:active,
.community__moders:active,
.notifications__comments.left-menu__user-notification:active,
.left-menu__user-notification.left-menu__unread-notifications:active {
    max-height: 400px;
cursor: pointer;
     transition-delay: 2s; 
    transition: 0.1s;
}
.left-menu__friends.left-menu__friends_offline:hover h3.left-menu-text,
.blog__gifts:hover h3.left-menu-text,.blog__iread:hover h3.left-menu-text,
.blog__last-comments:hover h3.left-menu-text,
.blog__read-me:hover h3.left-menu-text,
.blog__tags:hover h3.left-menu-text,
.community__members:hover h3.left-menu-text,
.community__moders:hover h3.left-menu-text,
.notifications__comments.left-menu__user-notification:hover h3.left-menu-text,
.left-menu__user-notification.left-menu__unread-notifications:hover h3.left-menu-text {
 cursor: pointer;
padding-left:10px;
    color: #fff;
    transition: 0.4s;
}
.left-menu__unread-message img {
    margin-top: -8px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 4px double #141414;
    filter: grayscale(0.8);
}

.left-menu__user-notification.left-menu__unread-message img+p {
    overflow: auto;
    line-height: normal;
    max-height: 50px;
    margin-top: 8px;
} 

.left-menu h3 {
    color: #545454;
}

.readertime {
    font-size: 75%;
    color: #ffffff;
}

.blog__tags a:before {
    content: '#';
    font-size: 12px;
    color: #333;
}
.text-center img {
    border: 4px double #141414;
    filter: grayscale(0.8);
}

p.left-menu-text {
    margin-top: 2px;
}

/*----------*/


/*4*/


main.py-4 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 80%;
    margin: 0 auto;
}

.content {
    padding: 0 15px;
    width: 80%;
    border-left: 4px double #141414;
}

 .post-text, .comment-text  {
    padding: 0 6px;
}

.post-content, .comment-content {
    min-height: auto;
    padding: 10px;
    border: 1px solid #121212;
    background: black;
    margin-bottom: 25px;
    margin: 10px 10px 20px;
}

.post-title, h1 {
    display: block;
    width: fit-content;
    font-size: 30px;
    color: white;
    transition: 0.2s;
}

.post-title:hover {
color:#939393;
    transition: 0.2s;
}

.post-title:before {
content: ' ';
    float: left;
    margin-top: 24px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    transition: 0.2s;
}

.post-title:hover:before {
content: ' ';
    float: left;
        margin-top: 24px;
    width: 3px;
    height: 3px;
color:#939393;
    margin-right: 3px;
    background: #fff;
    border-radius: 100%;
    transition: 0.2s;
}

.post-avatar img {
    border: 4px double #141414;
    filter: grayscale(0.8);
  transition: .9s;
}
.post-avatar img:hover {
    filter: grayscale(0);
  transition: .9s;
}

.post-content {
    margin: 10px 10px 40px!important;
}


 .post-title  {
   position: relative; 
    transition: .5s;
}

.post-title:hover {
    padding-right:30px;
}

.post-title:after {
    position: absolute;
    content: "";
    border-right: 0px solid #ffffff20;
    background-color: #fff;
    min-width: 0px;
    height: 1px;
    left: 0%;
    bottom: 5px;
    transition: .3s;
}

.post-title:hover:after {
    background-color: #282828;
    min-width: 55%;
    right: 0;
    border-right:40px solid #ffffff20;
    transition: .3s;
}


.post-title-user {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
transition: 0.3s;
}
.post-title-user:hover {
    color: #939393;
transition: 0.3s;
}

 img.imagefsme {
    filter: grayscale(0.8);
transition: 0.7s;
}

img.imagefsme:hover {
    filter: grayscale(0);
transition: 0.7s;
}

#usermenu a {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
#usermenu {
position:releative;
    border-radius: 0;
 border: 1px solid #1e1e1e;
   font-weight: bold;
 background: #000;
  z-index:1;
}


h2, .comment-box__message-partial.comment-content {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 16px;
    background-color: #000000;
    border: 1px solid #1e1e1e;
    margin: -40px 10px 20px;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    text-align: center;
}
.quotation {
    border-left: 4px double #141414;
    font-weight: 500;
    color: #383838;
    font-size: 12px;
    padding-left: 5px;
    margin-left: 12px;
    margin-bottom: 0;
    padding-top: 0;
}

h1 {
    text-align: right;
    width: unset !important;
}
.small-text { 
   color: #7d7d7d;
   text-align: right;
    position: relative;
}

.small-text+div { 
    margin-left: auto !important;
    flex-direction: column; 
    align-items: flex-end;
}


/*------*/


.datebg {
    position: relative;
    font-family: "Alumni Sans SC", sans-serif;
    color: #242424;
    margin: 10px 10px -10px;
    border-left: 1px solid #121212;
    background: linear-gradient(90deg, #000000ad, #04040400 10%);
    padding-left: 5px;
    font-weight: bold;
    font-size: 15px;
    border-top-left-radius: 5px;
    letter-spacing: 1px;
}

.datebg:before {
    content: ' ';
    position: absolute;
    width: 26px;
    height: 1px;
    background: #141414;
    left: -27px;
    margin-top: 24px;
}



.pagination {
    float: right;
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}
.pagination a {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 500;
}
.crumbs span {
        font-size: 25px;
    font-family: "Alumni Sans SC", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
}

.crumb-item {
    font-weight: bold;
    font-size: 25px;
    font-family: "Alumni Sans SC", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
}

div.crumbs {
    margin-top: 0px;
    margin-bottom: 30px;
}

.pagination a {
    font-family: "Alumni Sans SC", sans-serif;
}
.crumbs {
    padding: 0 1%;
    background-color: #000000;
    border: 2px solid #1e1e1e;
    border-top: none;
}
 .py-4 + .crumbs  {
   background-color: #000000;
    border: 2px solid #1e1e1e;
    border-bottom: none;
   margin-top: 30px;
    margin-bottom: 0px;
}

  [href="#footer"] { 
    font-size: 0px;
}

[href="#footer"]:before {
    content: '\25BC';
    background: #000;
    border: 1px solid #181818;
    font-size: 17px;
    position: fixed;
    color: #3c3c3c;
    width: 28px;
    height: 28px;
    padding-left: 5px;
    right: 1%;
    top: 42px;
    transition: 0.3s;
}

[href="#footer"]:hover:before { 
color: #fff!important;
  transition: 0.3s;
}


[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: '\25B2';
    background: #000;
    border: 1px solid #181818;
    font-size: 17px;
    position: fixed;
    color: #3c3c3c;
    width: 28px;
    height: 28px;
    padding-left: 5px;
    right: 1%;
    top: 7px;
    z-index: 2;
    transition: 0.3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before { 
 color: #fff!important;
  transition: 0.3s;
}

div#newpostform br,div#newpostform br+br+p {
    display: none;
}
 
span.emj-dropdown {
    padding: 0px;
}
form.messageform p {
    margin-bottom: 0px;
} 

.container-fluid {
    padding-left: 0px;
}

.container-fluid .row {
    margin-left: -15px!important;
}

.container-fluid.mt-5 {
    margin-top: 0px !important;
    padding-left: 0px!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
}


 .modal-body {
    color: #939393;
    position: relative;
}

.modal-content {
    background: #000;
    border: 2px solid #121212;
    font-weight: bold;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
.user_footer, .div_user_img {
    border:2px solid #121212;
filter: brightness(0.9) grayscale(1);
} 

.emj-dropdown-content {
    width: 50%;
    height: 15%;
    background: #000;
    border: 1px solid #121212;
}

.tag_bar {
    margin-top: 3px;
    margin-bottom: 3px;
}

.tag_bar > span {
    display: inline-block;
    min-width: 15px;
 
}

.tag_bar > span:hover {
    color:#fff;
  transition: 0.3s;
}

.avatars-fullscreen-link-wrapper {
    background: #000;
}
 #avatars-fullscreen-modal .modal-content {
    max-height: 90vh;
    width: 60%;
    margin: auto;
}


.avatar-select-list::-webkit-scrollbar-track {
border: 7px solid #000;
}
.avatar-select-list::-webkit-scrollbar-thumb {
    border: 7px solid #000000;
 
}

.avatar-select-list {
    background: transparent;
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
    margin: 2px;
    filter: grayscale(0.8);
 border: 1px solid #121212;
    transition: 0.3s;
}
 

 
.avatar-select-label-selected {
  border: 1px solid #ffffff70;
    filter: grayscale(0);
    transition: 0.3s;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #000000!important;
    border-color: #6c6c6c!important;
}

input, select, .btn-outline-primary, .textareabg input[type="submit"], .textareabg input[type="button"], .left-menu-text input[type="submit"], button.btn.btn-secondary, button.btn.btn-primary, .left-menu [type="submit"], .left-menu [onclick="markUnreadDialog()"],input.w-100.input-tags, input.w-100.input-mood,
input.w-100.input-music,
input.w-100.input-want {
    background: #000000;
    border: 1px solid #121212;
    color: #939393;
    font-size: 13px;
    cursor: pointer;
    transition: 0.4s;
}

input:hover, select:hover,
.btn-outline-primary:hover,
.textareabg input[type="submit"]:hover,
.textareabg input[type="button"]:hover,
.left-menu-text input[type="submit"]:hover, 
button.btn.btn-secondary:hover, 
button.btn.btn-primary:hover,
.btn-outline-primary:hover
 .left-menu [type="submit"]:hover, .left-menu [onclick="markUnreadDialog()"]:hover,
input.w-100.input-tags:hover, input.w-100.input-mood:hover,
input.w-100.input-music:hover,
input.w-100.input-want:hover {
    background: #000;
    color: #fff;
    transition: 0.4s;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    background-color: #000;
    accent-color: #ffffff;
}

 .alert-success {
    font-size: 15px;
    text-align: center;
    color: #939393;
 border: 1px solid #121212;
    background: black;
    font-weight: 400;
}


.textareabg {
    padding: 10px !important;
    border: 1px solid #121212;
    background: black;
    margin: 10px 10px 20px;
}
textarea {
    color: #939393;
    font-size: 14px;
    background: #040404;
    border: 1px solid #121212;
}



::-webkit-scrollbar {
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}
::-webkit-scrollbar-thumb {
    border: 7px solid #040404;
    background-color: #494949;
    min-height: 24px;
    min-width: 24px;
}
::-webkit-scrollbar-track {
    border: 7px solid #040404;
    background-color: #080808;
}



 /*плеер*/


div#beon-fnplayer {
    padding: 5px;
    background: transparent;
}

#fnplayer-slider > span { 
font-size:0px!important;  
} 

#fnplayer-slider {
    height: 4px;
    background-color: #2b2b2b !important;
}

#fnplayer-slider-inner {
    height: 4px;
    width: 0%;
    background-color: #ffffff80;
}

#fnplayer-volume {
    height: 4px;
    background-color: #ffffff80;
}

#fnplayer-volume-inner {
    height: 4px;
    width: 100%;
    background-color: #2b2b2b !important;
   border: none;
}

#fnplayer-volume-mask {
border:none!important;
}

 #fnplayer-stop {
    display:none;
}

#fnplayer-play {
    border-color: transparent transparent transparent #2b2b2b !important;
    margin-right: -6px;
}

/*-----------*/


@media  (max-width: 840px), (max-width: 700px) {


div#app:before {
    height: 100px!important;
    background-size: contain!important;
}
.content, main.py-4 {
width: 100%!important;
}
.post-avatar img {
    width: 80px!important;
}
.left-menu > div.mobile_open_menu > h3 {
        background-color: #990000;
        color: #545454;
        font-weight: 500;
font-size: 24px;
    }

.avatars-fullscreen-link-wrapper {
    background: #000;
width: 98%;
    margin: auto;
}
 .avatars-fullscreen-link-wrapper a {
    color: #939393;
}
#avatars-fullscreen-modal .modal-content {
    width: 100%!important;
}

.blog__about:active,
 [class="left-menu__user-notification left-menu__unread-message"]:active,
[class="notifications__comments  left-menu__user-notification  "]:active,
[class="left-menu__user-notification left-menu__unread-notifications"]:active,
.left-menu__friends.left-menu__friends_offline:active,
.blog__read-me:active,
.blog__tags:active,
.blog__last-comments:active,
.blog__gifts:hover,.blog__iread:active,
.community__members:active,
.community__moders:active,
.notifications__comments.left-menu__user-notification:active,
.left-menu__user-notification.left-menu__unread-notifications:active,
 .left-menu__user-notification:active {
     transition-delay: 0s!important; 
    transition: 0s!important;
}


[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
[src="/i/user.png"],
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
.post-content.blog_total_counter,
 .user:before {
display:none!important;
}

.fas, .far {
    font-size: 0.9rem!important;
    padding: 0rem!important;
}

.tag_bar > * {
    padding: 0rem!important;
}

 .col-12  {

    font-size: 0.80rem;
}
span.comments_count span::before {
    font-size: 12px!important;
}

span.comments_count a {
    font-size: 14px!important;
margin-right: -20px!important;
}

.py-4 + .crumbs {
    border-bottom: 2px solid #1e1e1e!important;
}

.bottombg:before {
    display: none!important;
}
[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    font-size: 16px!important;
    padding-left: 5px!important;
    bottom: 44px!important;
top: unset !important;
}
[href="#footer"]:before {
    font-size: 16px!important;
    padding-left: 5px!important;
    bottom: 10px!important;
top: unset !important;
}

    .menu__box {
border: 2px solid #1e1e1e;
        background: black;
        margin-top: 165px !important;
        width: 70% !important;
        height: 70% !important;
    }

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #939393;
}

    .menu__item {
        color: #939393;
        font-size: 24px;
        font-family: "Alumni Sans SC", sans-serif;
        letter-spacing: 2px;
    }

}

@media  (max-width: 840px), (max-width: 700px) {


div#app:before {
    height: 100px!important;
    background-size: contain!important;
}
.content, main.py-4 {
width: 100%!important;
}
.post-avatar img {
    width: 80px!important;
}
.left-menu > div.mobile_open_menu > h3 {
        background-color: #990000;
        color: #545454;
        font-weight: 500;
font-size: 24px;
    }

.avatars-fullscreen-link-wrapper {
    background: #000;
width: 98%;
    margin: auto;
}
 .avatars-fullscreen-link-wrapper a {
    color: #939393;
}
#avatars-fullscreen-modal .modal-content {
    width: 100%!important;
}

.blog__about:active,
 [class="left-menu__user-notification left-menu__unread-message"]:active,
[class="notifications__comments  left-menu__user-notification  "]:active,
[class="left-menu__user-notification left-menu__unread-notifications"]:active,
.left-menu__friends.left-menu__friends_offline:active,
.blog__read-me:active,
.blog__tags:active,
.blog__last-comments:active,
.blog__gifts:hover,.blog__iread:active,
.community__members:active,
.community__moders:active,
.notifications__comments.left-menu__user-notification:active,
.left-menu__user-notification.left-menu__unread-notifications:active,
 .left-menu__user-notification:active {
     transition-delay: 0s!important; 
    transition: 0s!important;
}


[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
[src="/i/user.png"],
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
.post-content.blog_total_counter,
 .user:before {
display:none!important;
}

.fas, .far {
    font-size: 0.9rem!important;
    padding: 0rem!important;
}

.tag_bar > * {
    padding: 0rem!important;
}

 .col-12  {

    font-size: 0.80rem;
}
span.comments_count span::before {
    font-size: 12px!important;
}

span.comments_count a {
    font-size: 14px!important;
margin-right: -20px!important;
}

.py-4 + .crumbs {
    border-bottom: 2px solid #1e1e1e!important;
}

.bottombg:before {
    display: none!important;
}
[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    font-size: 16px!important;
    padding-left: 5px!important;
    bottom: 44px!important;
top: unset !important;
}
[href="#footer"]:before {
    font-size: 16px!important;
    padding-left: 5px!important;
    bottom: 10px!important;
top: unset !important;
}

    .menu__box {
border: 2px solid #1e1e1e;
        background: black;
        margin-top: 165px !important;
        width: 70% !important;
        height: 70% !important;
    }

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #939393;
}

    .menu__item {
        color: #939393;
        font-size: 24px;
        font-family: "Alumni Sans SC", sans-serif;
        letter-spacing: 2px;
    }

}
