@import url('https://fonts.googleapis.com/css2?family=Podkova&family=STIX+Two+Text&display=swap');
@font-face { font-family: "Beckett-Kan"; src: url('https://solarinoo.github.io/18102.ttf'); }

[src="//beon.fun/i/logo2.png"] {
    display:none;
}

::selection {
    background: #460505;
    color: #fff;
}

.navbar-brand, .m2 {
    font-size: 0;

}
/*-вверх i дата-*/

.bg-white {
    background-color: #0000;
}

.datebg {
    font-size: 12px;
    font-family: 'STIX Two Text', serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px !important;
    color: #460505;
}

.pagination {
    color: #6a0000;
}

.crumbs {
    position: absolute;
    display: flex;
    left: 10%;
    right: 0;
    top: 60px;
    border-radius: unset;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.crumbs a {
font-family: 'STIX Two Text', serif;
 color: #460505; 
}

span.crumb-item {
    font-size: 17px;
    border-radius: unset;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: fixed;
    color: #480000;
    margin-top: 30px;
    font-family: 'STIX Two Text', serif;
}


.navbar-brand:before {
    display: block;
    margin-top: -30px;
    position: absolute;
    left: 1%;
    content: '\2022 B\2022';
    font-family: "TedescaLamont";
    color: #000000;
    filter: drop-shadow(6px 5px 2px #ffffff20);
    font-weight: 100;
    font-size: 35px;
    padding: 2px;
    border: 2px solid #000;
    background: #2e0505;
    transition: 0.4s;
}

.navbar-brand:hover:before {
  filter: drop-shadow(0px 0px 4px #ffffff80);
    background: transparent;
   transition: 0.4s;
} 

.container {
max-width:100%;
}

.shadow-sm {
    box-shadow: none!important;
}

.bg-white {
    background: transparent!important;
    height: 100px;
}

.pc-menu {
    display: none;
}


.menu__box {
    position: absolute;
    z-index: 2;
    display: block;
    overflow: auto;
    top: 70px;
    right: 0;
    left: 35px;
    height: 0px;
    padding: 0px;
    margin-left: -35px !important;
    width: 250px !important;
    filter: drop-shadow(0px 0px 2px #650000);
    border: 2px solid #000;
    background: #1e0404;
}

 

.hamburger-menu {
    display: block;
    margin-top: 157px;
    position: absolute; 
    left: 1%;
}

.menu__item {
    font-family: 'STIX Two Text', serif;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #d8d8d6;
    font-weight: 100;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    height: 550px;
}

.menu__btn {
    display: flex;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2; 
    justify-content: space-around;
}

.menu__btn {
    filter: drop-shadow(6px 5px 2px #ffffff20);
    padding: 27px;
    border: 2px solid #000000;
    background: #2e0505;
    transition: 0.4s;
}

.menu__btn:hover {
  filter: drop-shadow(0px 0px 4px #ffffff80);
    background: transparent;
transition: 0.4s;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background: #000;
    height: 2px;
    box-shadow: 0 0 2px #ffffff50;
    width: 70%;
}


/*-----------*/

/*-основа-*/

* {
    cursor: url(https://cdn.custom-cursor.com/db/9562/32/disney-descendants-3-mal-and-sword-cursor.png), auto !important;
}

div#footer, div#app+div+[style="text-align: center"], body > div:nth-child(19) {
font-size:0;
}

div#app {
    padding: 0%;
    background-size: contain;
}

div#app {
font-family: 'Podkova', serif;
}
 
.h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
font-family: 'Podkova', serif;
}

main.py-4, .crumbs {
    padding-top: 0!important;
    padding-bottom: 0!important;
    max-width: 1400px;
    margin: auto;
}

.py-4 {
    display: flex;
    flex-direction: row-reverse;
}

 body.bodybg {
   background: url(https://i.ibb.co/qDV2sX8/222.jpg)  no-repeat right fixed , #000;
  /*background: url(https://i.ibb.co/GddvmdM/424.png)  repeat right fixed , #000;*/
    /* background-position-x: 60px; */
    background-size: auto;
}

a, div {
    text-decoration: unset!important;
color:#686868;
transition: .5s;
}

a:hover {
    text-decoration: unset!important;
   color:#601111;
   transition: .5s;
}

 span[data-target="#deleteconfirmmodal"] {
    text-decoration: none!important;
    color: #686868!important;  
    transition: .5s;
} 
span[data-target="#deleteconfirmmodal"]:hover {
    text-decoration: none!important;
    color: #601111!important; 
    transition: .5s;
}
 
.row.w-100 {
    position: sticky;
    top: 100%;
    border-top: 3px solid #1e0404;
    border-right: 5px solid #1e0404;
    margin: auto;
}

.comment-text+div {
    text-align: right;
    position: sticky;
    border-top: 3px solid #1e0404;
    border-right: 2px solid #1e0404;
    margin: auto;
    padding: 3px;
}

span.post-title-date+span {
    opacity: 0;
}

.post-title-date {
    font-size: 0.7rem;
    color: #580707;
    font-weight: bold;
    padding-left: 0rem;
} 

img.flag {
display:none;
}

.user:before {
    display:none;
}

.fa-step-backward:before {
    content: " ";
}

.fa-step-forward:before {
    content: " ";
}

[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/user.png"],
.pagination-goto {
display:none;
}

/*------------------*/

/*-меню-*/

.content {
    width: 68%;
    padding: 50px;
    background: #000;
    border: 5px solid #140101;
    margin-right: 20px;
}

.left-menu {
    position: relative;
    width: 20%;
    padding: 0px 1% 2% 1%;
    overflow-x: hidden;
   font-size:12px;
}

.left-menu__friends {
display:none;
}

.left-menu {
    flex-flow: column;
    display: flex;
}

 div.left-menu {
 border:none!important;
margin-top: 15px;
}

.left-menu > div {
margin-top:25px;
}

div.left-menu > div.left-menu__user-notification.left-menu__unread-message  {
   margin-bottom: -5px;
}


 
h3.left-menu-text {
    text-transform: uppercase;
    font-family: 'STIX Two Text', serif;
    text-align: center!important;
    letter-spacing: 1.5px;
    font-size: 15px;
    padding: 7px;
    filter: drop-shadow(0px 0px 2px #650000);
    font-weight: 100;
    background: #000!important;
    color: #686868;
    transition: 0.5s;
}

h3.left-menu-text:hover {
letter-spacing: 2px;
background: #160303!important;
transition: 0.5s;
}
 

.left-menu__unread-message img {
    margin-top: -45px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid #300202;
}

.left-menu-text {
    padding-left: 5px;
    color: #580707;
}

.left-menu__unread-message img {
    margin-top: -45px;
    margin-bottom: 8px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid #300202;
}

.blog__about:before {
    content: '';
    display: block;
    height: 400px;
    background: url(https://i.ibb.co/8BrZCcd/3.gif) no-repeat  center;
    background-size: cover;
    box-shadow: 0px 2px 10px 0px #560505;
}

 
.blog__about {
    font-size: 13px;
    text-align: center;
    font-family: 'STIX Two Text', serif;
    font-weight: bold;
}

.left-menu__unread-message p{
   height: 50px;
   overflow-y: auto;
   padding: 1px;
}

 
.blog__about h3.left-menu-text {
    opacity: 0;
    line-height: normal;
}
.blog__about a {
   color: #580707;
}

.blog__about a:hover {
   color: #686868;
}

.blog__read-me, .blog__iread, .community__moders, .blog__gifts, .blog__tags, .blog__last-comments, .community__members {
font-family: 'STIX Two Text', serif;
font-size:11px;
    max-height: 35px;
    overflow: hidden;
     background: linear-gradient(360deg, #160303 0%, #000000 100%);
    transition: 0.1s;
    transition-delay: 20s;
}

.blog__read-me:active, .blog__iread:active, .community__moders:active, .blog__gifts:active, .blog__tags:active, .blog__last-comments:active, .community__members:active {
    max-height: 400px;
    transition: 0.1s;
}


.readertime {
    font-size: 10px;
    color: #580707;
    font-weight: bold;
}
 
.left-menu__gift img {
    filter: grayscale(1);
    transition: 0.4s;
}

.left-menu__gift:hover img{
    filter: grayscale(0);
    transition: 0.4s;
}

.blog__tags a {
    padding: 4px;
    color: #9d0000;
}

#app > main > div.left-menu > div.blog__about > div:nth-child(2) {
 color: #686868;
}

 #app > main > div.left-menu > div.blog__about > div:nth-child(3) {
 color: #686868;
}

.text-center img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 8px 1px #890b0b;
    margin-top: -75px;
    margin-bottom: 10px;
}


.blog__about  [href="/design/disable"] {
    color: #cd0000;
}

/*-записи-*/
 
 

.post-text{
    background: black;
    padding: 10px;
    min-height: 120px;
    border-right: 2px solid #1e0404;
    border-top: 1px solid #1e0404;
}

  .comment-text {
   background: black;
    padding: 10px;
    min-height: 120px;
    border-left: 2px solid #1e0404; 
    border-right: 2px solid #1e0404;
    border-top: 1px solid #1e0404;
}

.post-avatar {
    display: table;
    width: 1px;
    float: left;
    margin-right: 5px;
    min-width: 30px;
    padding: 5px; 
}

.post-content, .comment-content {
    margin: 10px 10px 20px!important;
    padding: 10px;
    background: linear-gradient(360deg, #160303 0%, #000000 100%);
}

.comment-content {
   margin: 10px 10px 20px!important;
    padding: 10px; 
    background: #000;
}

 h2 {
    color: #686868!important;
    padding: 5px;
    text-align: center;
}

.comment-box h2 {
   font-size: 14px;
}

.post-title {
    position: relative;
    font-size: 25px;
    color: #3c0505;
    font-weight: bold;
    display: block;
    margin-left: 20px;
}

.post-title:hover {
    color: #000;
    margin-left: 50px;
    transition: 0.5s;
    letter-spacing: 0.55px;
    text-shadow: 0px 0px 4px #ff2c00;
}

 h1 {
    display:none;
}

a.post-title:before {
    content: '';
    display: inline-block;
    width: 41px;
    height: 51px;
    background: url(https://i.ibb.co/68Z01GG/3.png) no-repeat center /40px;
    position: absolute;
    transform: rotate(0deg);
    filter: brightness(0.4) drop-shadow(0px 0px 5px #ff2c0070);
    margin-left: -30px;
    margin-top: -5px;
    transition: 0.5s;
}

a.post-title:hover:before {
    transform: rotate(-75deg);
    transition: 0.5s;
filter: brightness(0.5) drop-shadow(0px 0px 2px #ff2c00);
}

.post-content.blog_total_counter {
    font-size: 0px;
    height: 270px;
    width: 64%;
    content: '';
    background: url(https://i.ibb.co/VL845fV/tumblr-be7847d120cd8e655b063f59ecb31a51-9f38222c-540.png) no-repeat center;
    background-size: 100%;
    margin: auto!important;
    transform: rotate(4deg);
   border: 4px solid #000;
   box-shadow: inset 1px -1px 20px 0 #000;
   transition: 0.5s;
}

 .post-content.blog_total_counter:hover {
    background: url(https://i.ibb.co/C7LL3Qq/11cf72fc8f71f3f0834b174375281617.png) no-repeat center;
    background-size: 100%;
    transform: rotate(0deg);
    border: 4px solid #260303;
    transition: 0.5s;
}
 
.comment-box .post-title-user {
    margin-left: 110px;
}


.post-title-user {
    font-size: 1rem;
    padding-left: 8px;
}

 .comment-box i.fas {
    padding: 10px;
    margin: -8px;
    background-color: #000;
    color: #3c0505;
    border: 1px solid #3c0505;
    transform: scale(0.7);
}

.post-opt i.fas {
   margin-top: 2px;
}


.quotation {
    border-left: 8px solid #4a0000;
    color: #959595;
    background: #180101;
    padding-top: 0.1rem;
    font-family: 'STIX Two Text', serif;
}


.post-content [href$="/unsubscribe"], .post-content [href$="#"] {
    font-size: 12px;
    font-family: 'STIX Two Text', serif;
    letter-spacing: 1px;
    color: #580707;
    font-weight: bold;
}

.postsiblings {
    margin-top: 20px;
    background: #000;
}

.comment-box__message-partial.comment-content {
    margin-bottom: -10px!important;
    margin-top: -10px!important;
    text-align: center;
}

.small-text {
     font-size: 12px;
   letter-spacing: 1px;
    color: #580707;
   font-weight: bold;
    font-family: 'STIX Two Text', serif;
}

.post-content .sign { 
    font-size: 11px;
    color: #580707;
    text-align: center;
    font-weight: bold;
    background: #000;
    padding-top: 2px;
}

.sign {
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #000;
    background: #340606;
    padding-top: 2px;
}


/*-----------*/



/*-все штуки-*/

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 13px;
}

.left-menu-text input[type="text"] {
    border: 2px solid #260a0af2!important;
    background-color: #000!important;
    color: #fff!important;
    margin-bottom: -20px;
    margin-top: 10px!important;
    padding-left: 20px;
}

select, input, .textareabg input[type="submit"], .left-menu-text input[type="text"], .left-menu-text input[type="submit"], button.btn.btn-secondary, button.btn.btn-primary {
    font-size: 14px;
    background-color: #260a0af2;
    color: #9b9b9b;
    border: 2px solid transparent;
    margin-top: 2px;
    transition: 0.5s;
}

 select:hover,
input:hover,
.textareabg input[type="submit"]:hover,
.left-menu-text input[type="text"]:hover,
.left-menu-text input[type="submit"]:hover, 
button.btn.btn-secondary:hover, 
button.btn.btn-primary:hover {
border: 2px solid #260a0af2; 
background-color: #000;
color:#fff;
transition: 0.5s;
}

div#newpostform br,div#newpostform br+br+p {
    display: none;
}
 
span.emj-dropdown {
    padding: 0px;
}
form.messageform p {
    margin-bottom: 0px;
}
.container-fluid.mt-5 {
    margin-top: 0px !important;
}


.avatar-select-list {
    background: transparent;
    text-align: center;
    height: 255px;
    width: 130px;
    overflow-y: scroll;
}
.avatar-select-label {
margin:2px;
width: 100px;
border: 1px solid #3c0505;
filter: brightness(0.3) grayscale(1);
 transition: 0.2s;
}

.avatar-select-label-selected {
border: 5px solid #3c0505;
filter: brightness(1) grayscale(0);
 transition: 0.2s;
}

 textarea {
    background-color: #000!important;
    color:#9b9b9b;
    outline: none;
    border:  1px solid #3c0505;
}


 textarea {
    padding: 5px;
}

.textareabg {
    background-color: #000000;
}



.user_show {
    display: inline-block;
    width: 130px;
    overflow: hidden;
    text-align: center;
    margin: 1px;
    padding: 1px;
}

.div_user_img {
    width: 130px;
    height: 100px;
    border-top: 1px solid #560000;
    border-right: 1px solid #560000;
    border-left: 1px solid #560000;
}

.user_footer {
    height: 50px;
    padding: 1px;
    border: 1px solid #560000;
    vertical-align: middle;
    font-size: 100%;
    border-radius: 0 0 4px 4px;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.6;
    color: #560000;
}

.modal-body {
    color: #560000;
    position: relative;
}

.modal-content {
 background-size: 300px;
background-position-x: 200px;
background-color:#000!important;
border:#560000 solid 2px;
border-radius: 0px!important;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}


.clipboard-image-field {
    border: 2px solid #460202;
    padding: 10px;
}


  .mb-3, .my-3 {
    margin-bottom: 0rem!important;
}

[href="#footer"] { 
    font-size: 0px;
}

[href="#footer"]:before {
    content: '\2356';
    color: #7a7a7a50!important;
    font-weight: bold;
    font-size: 25px !important;
    line-height: 1;
    position: fixed;
    left: 1%;
    bottom: 0;
    margin-bottom: 15px;
    filter: drop-shadow(6px 5px 2px #ffffff20);
    padding: 15px;
    border: 2px solid #000;
    background: #2e0505;
    transition: 0.4s;
}

[href="#footer"]:hover:before { 
filter: drop-shadow(0px 0px 2px #ffffff20);
background: #1e0404;
transition: 0.4s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: '\234F';
    position: fixed;
    color: #7a7a7a50!important;
    font-weight: bold;
    font-size: 25px !important;
    line-height: 1;
    left: 1%;
    bottom: 0;
    margin-bottom: 85px;
     filter: drop-shadow(6px 5px 2px #ffffff20);
    padding: 15px;
    border: 2px solid #000;
    background: #2e0505;
    transition: 0.4s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before { 
 filter: drop-shadow(0px 0px 2px #ffffff20);
background: #1e0404;
transition: 0.4s;
}

/*---------------*/

/*скролл*/

::-webkit-scrollbar {
    width: 13px;
    height: 15px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #601111;
    border: 5px solid #000;
}

::-webkit-scrollbar-track {
    background: #601111;
    border: 6px solid #000;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
}

/*---------------*/


/*плеер*/

#fnplayer-volume-inner {
   width: 100%;
   height: 7px;
   background-color: #bf070750!important;
    margin-right: -10px;
}

#fnplayer-volume-mask {
border:none!important;
}

div#fnplayer-volume {
    flex-direction: row;
    margin-left: 5px!important;
    margin-top: 45px;
    height: 7px;
    background-color: #2a0606;
}

#fnplayer-play {
  border-color: transparent transparent transparent #bf070750!important;
    margin-top: 45px;
    height: 8px;
    width: 8px;
   border-width: 4px 0 4px 10px;
}

 #fnplayer-stop {
    border: 0;
    background:  #bf070750!important;
    margin-top: 45px;
    height: 8px;
    width: 8px;
}

div#beon-fnplayer {
    height: 30px;
    background: url(https://i.ibb.co/HYPvPnT/2.gif) no-repeat center;
    padding: 15px;
    margin-bottom: 15px;
}

 
 #fnplayer-slider > span {
font-size:0px!important;
}

#fnplayer-slider {
    background-color: #bf070750!important;
    margin-top: 45px;
    height: 7px;
}
#fnplayer-slider-inner {
    background-color: transparent!important;
    border-right: 4px solid #8b0404;
    height: 7px;
}

/*---------------*/

/*МЕДИА*/

@media (max-width: 700px) {
  div#app {
    width: 100%;
}

 .post-content, .comment-content {
    padding: 5px!important;
}

.post-avatar {
    padding: 0px!important;
}
.comment-box i.fas {
    transform: scale(0.6)!important;
}
 
.fas, .far, .tag_bar > * {
    font-size: 0.8rem!important;
}
.comment-box .post-title-user {
    margin-left: 0px!important;
}

span.comments_count span::before {
    font-size: 0.8rem !important;
}
span.comments_count a {
    font-size: 0.9rem !important;
}
[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    padding: 5px !important;
margin-bottom: 75px !important;
}

[href="#footer"]:before {
padding: 5px !important;
    margin-bottom: 25px!important;
z-index: 1;
}

.py-4 {
flex-direction: column!important;
}

.left-menu {
    width: 100% !important;
}

.left-menu > div.mobile_open_menu > h3 {
    font-size: 15px;
    color: #686868!important;
}

.content {
    width: 100%!important;
    padding: 0px!important;
}
.post-content.blog_total_counter {
    transform: rotate(0deg)!important;
    height: 140px!important;
}

.hamburger-menu {
    margin-top: 15px!important;
    left: 80%!important;
}
.menu__box {
   left: -140px!important;
}

.crumbs {
    position: static!important;
    background: #100101;
    display: block!important;
    font-size: 15px!important;
}

span.crumb-item {
    writing-mode: unset!important;
    text-orientation: unset!important;
    position: static!important;
    margin-top: 0px!important;
}

.post-avatar img {
  width:80px!important;
}

.avatar-select-list {
    width:100%!important;
}


}

/*1024*/

@media (max-width: 1024px) {
  div#app {
    width: 100%;
}

 }


/*768*/

@media (max-width: 768px) {
  div#app {
    width: 100%;
}
 .hamburger-menu {
    display: block;
    margin-top: 15px;
    position: absolute;
    left: 11%;
}

.col-12, .col-md-6 {
    padding-right:5px; 
    padding-left: 0px; 
}
.fas, .far, .tag_bar > * {
    font-size: 10px;
}
.col-md-4 {
    max-width: 50%;
}

}
